=begin
#Crossly Buyer API

#The buyer-facing Crossly API — cart, orders, wishlists, offers, cashback. A DIFFERENT principal from the seller API: authenticated by a buyer OAuth token scoped `buyer:*` and resolved by `resolveBuyer`. A seller Personal Access Token will NOT authenticate these endpoints.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module CrosslyBuyer
  class BuyerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Report an item your user is looking at, and get our answer.
    # Records the look and returns whether Crossly has the item and at what price. Send an identifier and a store DOMAIN — a full URL is refused. Nothing about the page itself is stored.
    # @param inline_object4 [InlineObject4] 
    # @param [Hash] opts the optional parameters
    # @return [CreateBuyerActivityResponse]
    def create_buyer_activity(inline_object4, opts = {})
      data, _status_code, _headers = create_buyer_activity_with_http_info(inline_object4, opts)
      data
    end

    # Report an item your user is looking at, and get our answer.
    # Records the look and returns whether Crossly has the item and at what price. Send an identifier and a store DOMAIN — a full URL is refused. Nothing about the page itself is stored.
    # @param inline_object4 [InlineObject4] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBuyerActivityResponse, Integer, Hash)>] CreateBuyerActivityResponse data, response status code and response headers
    def create_buyer_activity_with_http_info(inline_object4, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerApi.create_buyer_activity ...'
      end
      # verify the required parameter 'inline_object4' is set
      if @api_client.config.client_side_validation && inline_object4.nil?
        fail ArgumentError, "Missing the required parameter 'inline_object4' when calling BuyerApi.create_buyer_activity"
      end
      # resource path
      local_var_path = '/v1/buyer/activity'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(inline_object4)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBuyerActivityResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerApi.create_buyer_activity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerApi#create_buyer_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a listing to your cart.
    # @param inline_object2 [InlineObject2] 
    # @param [Hash] opts the optional parameters
    # @return [CreateBuyerCartItemResponse]
    def create_buyer_cart_item(inline_object2, opts = {})
      data, _status_code, _headers = create_buyer_cart_item_with_http_info(inline_object2, opts)
      data
    end

    # Add a listing to your cart.
    # @param inline_object2 [InlineObject2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBuyerCartItemResponse, Integer, Hash)>] CreateBuyerCartItemResponse data, response status code and response headers
    def create_buyer_cart_item_with_http_info(inline_object2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerApi.create_buyer_cart_item ...'
      end
      # verify the required parameter 'inline_object2' is set
      if @api_client.config.client_side_validation && inline_object2.nil?
        fail ArgumentError, "Missing the required parameter 'inline_object2' when calling BuyerApi.create_buyer_cart_item"
      end
      # resource path
      local_var_path = '/v1/buyer/cart/items'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(inline_object2)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBuyerCartItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerApi.create_buyer_cart_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerApi#create_buyer_cart_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Price the cart, delivered — item, shipping, tax, total.
    # Runs the real checkout cascade and returns the totals instead of charging. Nothing is purchased. `taxComplete: false` means there is no saved delivery address, so the total is a floor rather than a final figure.
    # @param [Hash] opts the optional parameters
    # @return [CreateBuyerCartQuoteResponse]
    def create_buyer_cart_quote(opts = {})
      data, _status_code, _headers = create_buyer_cart_quote_with_http_info(opts)
      data
    end

    # Price the cart, delivered — item, shipping, tax, total.
    # Runs the real checkout cascade and returns the totals instead of charging. Nothing is purchased. &#x60;taxComplete: false&#x60; means there is no saved delivery address, so the total is a floor rather than a final figure.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBuyerCartQuoteResponse, Integer, Hash)>] CreateBuyerCartQuoteResponse data, response status code and response headers
    def create_buyer_cart_quote_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerApi.create_buyer_cart_quote ...'
      end
      # resource path
      local_var_path = '/v1/buyer/cart/quote'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBuyerCartQuoteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerApi.create_buyer_cart_quote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerApi#create_buyer_cart_quote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Offer a price on a listing.
    # Sends an offer to the seller. Spends nothing — a seller accepting still leaves you to complete checkout. Offers at or above the asking price are refused; buy it instead.
    # @param inline_object3 [InlineObject3] 
    # @param [Hash] opts the optional parameters
    # @return [CreateBuyerOfferResponse]
    def create_buyer_offer(inline_object3, opts = {})
      data, _status_code, _headers = create_buyer_offer_with_http_info(inline_object3, opts)
      data
    end

    # Offer a price on a listing.
    # Sends an offer to the seller. Spends nothing — a seller accepting still leaves you to complete checkout. Offers at or above the asking price are refused; buy it instead.
    # @param inline_object3 [InlineObject3] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBuyerOfferResponse, Integer, Hash)>] CreateBuyerOfferResponse data, response status code and response headers
    def create_buyer_offer_with_http_info(inline_object3, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerApi.create_buyer_offer ...'
      end
      # verify the required parameter 'inline_object3' is set
      if @api_client.config.client_side_validation && inline_object3.nil?
        fail ArgumentError, "Missing the required parameter 'inline_object3' when calling BuyerApi.create_buyer_offer"
      end
      # resource path
      local_var_path = '/v1/buyer/offers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(inline_object3)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBuyerOfferResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerApi.create_buyer_offer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerApi#create_buyer_offer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a wishlist.
    # @param inline_object [InlineObject] 
    # @param [Hash] opts the optional parameters
    # @return [CreateBuyerWishlistResponse]
    def create_buyer_wishlist(inline_object, opts = {})
      data, _status_code, _headers = create_buyer_wishlist_with_http_info(inline_object, opts)
      data
    end

    # Create a wishlist.
    # @param inline_object [InlineObject] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBuyerWishlistResponse, Integer, Hash)>] CreateBuyerWishlistResponse data, response status code and response headers
    def create_buyer_wishlist_with_http_info(inline_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerApi.create_buyer_wishlist ...'
      end
      # verify the required parameter 'inline_object' is set
      if @api_client.config.client_side_validation && inline_object.nil?
        fail ArgumentError, "Missing the required parameter 'inline_object' when calling BuyerApi.create_buyer_wishlist"
      end
      # resource path
      local_var_path = '/v1/buyer/wishlists'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(inline_object)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBuyerWishlistResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerApi.create_buyer_wishlist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerApi#create_buyer_wishlist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a listing to a wishlist.
    # @param id [String] 
    # @param inline_object1 [InlineObject1] 
    # @param [Hash] opts the optional parameters
    # @return [CreateBuyerWishlistItemResponse]
    def create_buyer_wishlist_item(id, inline_object1, opts = {})
      data, _status_code, _headers = create_buyer_wishlist_item_with_http_info(id, inline_object1, opts)
      data
    end

    # Add a listing to a wishlist.
    # @param id [String] 
    # @param inline_object1 [InlineObject1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBuyerWishlistItemResponse, Integer, Hash)>] CreateBuyerWishlistItemResponse data, response status code and response headers
    def create_buyer_wishlist_item_with_http_info(id, inline_object1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerApi.create_buyer_wishlist_item ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BuyerApi.create_buyer_wishlist_item"
      end
      # verify the required parameter 'inline_object1' is set
      if @api_client.config.client_side_validation && inline_object1.nil?
        fail ArgumentError, "Missing the required parameter 'inline_object1' when calling BuyerApi.create_buyer_wishlist_item"
      end
      # resource path
      local_var_path = '/v1/buyer/wishlists/{id}/items'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(inline_object1)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBuyerWishlistItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerApi.create_buyer_wishlist_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerApi#create_buyer_wishlist_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a line from your cart.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_buyer_cart_item(id, opts = {})
      delete_buyer_cart_item_with_http_info(id, opts)
      nil
    end

    # Remove a line from your cart.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_buyer_cart_item_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerApi.delete_buyer_cart_item ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BuyerApi.delete_buyer_cart_item"
      end
      # resource path
      local_var_path = '/v1/buyer/cart/items/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerApi.delete_buyer_cart_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerApi#delete_buyer_cart_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The shopping profile derived from that activity.
    # Derived, never declared — there is no preferences form anywhere. `matchRate` is the share of this person's searches Crossly could answer; a low number is an inventory problem, not a personalisation one, which is why it is here.
    # @param [Hash] opts the optional parameters
    # @return [GetBuyerPreferenceResponse]
    def get_buyer_preference(opts = {})
      data, _status_code, _headers = get_buyer_preference_with_http_info(opts)
      data
    end

    # The shopping profile derived from that activity.
    # Derived, never declared — there is no preferences form anywhere. &#x60;matchRate&#x60; is the share of this person&#39;s searches Crossly could answer; a low number is an inventory problem, not a personalisation one, which is why it is here.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetBuyerPreferenceResponse, Integer, Hash)>] GetBuyerPreferenceResponse data, response status code and response headers
    def get_buyer_preference_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerApi.get_buyer_preference ...'
      end
      # resource path
      local_var_path = '/v1/buyer/preferences'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBuyerPreferenceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerApi.get_buyer_preference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerApi#get_buyer_preference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Your Crossly shopping profile — name, email, saved address, Bucks balance.
    # @param [Hash] opts the optional parameters
    # @return [GetBuyerProfileResponse]
    def get_buyer_profile(opts = {})
      data, _status_code, _headers = get_buyer_profile_with_http_info(opts)
      data
    end

    # Your Crossly shopping profile — name, email, saved address, Bucks balance.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetBuyerProfileResponse, Integer, Hash)>] GetBuyerProfileResponse data, response status code and response headers
    def get_buyer_profile_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerApi.get_buyer_profile ...'
      end
      # resource path
      local_var_path = '/v1/buyer/profile'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBuyerProfileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerApi.get_buyer_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerApi#get_buyer_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # What this buyer has compared lately.
    # Newest first, and only as far back as the retention window — the link between a person and a comparison is dropped after 180 days, so this thins out rather than growing forever.
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_buyer_activity(opts = {})
      data, _status_code, _headers = list_buyer_activity_with_http_info(opts)
      data
    end

    # What this buyer has compared lately.
    # Newest first, and only as far back as the retention window — the link between a person and a comparison is dropped after 180 days, so this thins out rather than growing forever.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_buyer_activity_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerApi.list_buyer_activity ...'
      end
      # resource path
      local_var_path = '/v1/buyer/activity'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerApi.list_buyer_activity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerApi#list_buyer_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # What is in your Crossly cart.
    # Line items with the price captured when each was added. This is NOT a quote — shipping, tax and any discounts are computed at checkout against a delivery address, and the sum of these lines is not what you will be charged.
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_buyer_cart(opts = {})
      data, _status_code, _headers = list_buyer_cart_with_http_info(opts)
      data
    end

    # What is in your Crossly cart.
    # Line items with the price captured when each was added. This is NOT a quote — shipping, tax and any discounts are computed at checkout against a delivery address, and the sum of these lines is not what you will be charged.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_buyer_cart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerApi.list_buyer_cart ...'
      end
      # resource path
      local_var_path = '/v1/buyer/cart'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerApi.list_buyer_cart",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerApi#list_buyer_cart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Your Scout cashback — pending, confirmed, paid.
    # Newest first. `pending` means an order was reported and the retailer's return window has not closed; nothing is paid until it does. `expired` means a click was never reported as converting, which is the ordinary outcome for most clicks.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 25)
    # @return [V1List]
    def list_buyer_cashback(opts = {})
      data, _status_code, _headers = list_buyer_cashback_with_http_info(opts)
      data
    end

    # Your Scout cashback — pending, confirmed, paid.
    # Newest first. &#x60;pending&#x60; means an order was reported and the retailer&#39;s return window has not closed; nothing is paid until it does. &#x60;expired&#x60; means a click was never reported as converting, which is the ordinary outcome for most clicks.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [Integer] :page 
    # @option opts [Integer] :limit 
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_buyer_cashback_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerApi.list_buyer_cashback ...'
      end
      allowable_values = ["pending", "confirmed", "rejected", "paid", "expired"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling BuyerApi.list_buyer_cashback, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BuyerApi.list_buyer_cashback, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BuyerApi.list_buyer_cashback, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/buyer/cashback'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerApi.list_buyer_cashback",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerApi#list_buyer_cashback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # What you have bought on Crossly, newest first.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 25)
    # @return [V1List]
    def list_buyer_orders(opts = {})
      data, _status_code, _headers = list_buyer_orders_with_http_info(opts)
      data
    end

    # What you have bought on Crossly, newest first.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :limit 
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_buyer_orders_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerApi.list_buyer_orders ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling BuyerApi.list_buyer_orders, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BuyerApi.list_buyer_orders, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BuyerApi.list_buyer_orders, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/buyer/orders'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerApi.list_buyer_orders",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerApi#list_buyer_orders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # What is on one wishlist.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_buyer_wishlist_items(id, opts = {})
      data, _status_code, _headers = list_buyer_wishlist_items_with_http_info(id, opts)
      data
    end

    # What is on one wishlist.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_buyer_wishlist_items_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerApi.list_buyer_wishlist_items ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BuyerApi.list_buyer_wishlist_items"
      end
      # resource path
      local_var_path = '/v1/buyer/wishlists/{id}/items'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerApi.list_buyer_wishlist_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerApi#list_buyer_wishlist_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Your wishlists.
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_buyer_wishlists(opts = {})
      data, _status_code, _headers = list_buyer_wishlists_with_http_info(opts)
      data
    end

    # Your wishlists.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_buyer_wishlists_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerApi.list_buyer_wishlists ...'
      end
      # resource path
      local_var_path = '/v1/buyer/wishlists'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerApi.list_buyer_wishlists",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerApi#list_buyer_wishlists\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
