=begin
#Crossly Buyer API

#The buyer-facing Crossly API — cart, orders, wishlists, offers, cashback. A DIFFERENT principal from the seller API: authenticated by a buyer OAuth token scoped `buyer:*` and resolved by `resolveBuyer`. A seller Personal Access Token will NOT authenticate these endpoints.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module CrosslyBuyer
  class BuyerCheckoutApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Buy a listing without being present.
    # An Idempotency-Key header is REQUIRED — this endpoint refuses without one, because a retried request would otherwise buy the item twice and a retry is the most likely thing an automated buyer does. Derive the key from what you are buying and reuse it across retries; a fresh random value per attempt satisfies the check and keeps the bug. The item is QUOTED first and the delivered total is checked against both your maxTotalCents and this key's limits before anything is charged. A card that demands 3-D Secure cannot be charged unattended; that answers 402 with `authentication_required` and the purchase must be finished on Crossly.
    # @param [Hash] opts the optional parameters
    # @return [CreateBuyerCheckoutResponse]
    def create_buyer_checkout(opts = {})
      data, _status_code, _headers = create_buyer_checkout_with_http_info(opts)
      data
    end

    # Buy a listing without being present.
    # An Idempotency-Key header is REQUIRED — this endpoint refuses without one, because a retried request would otherwise buy the item twice and a retry is the most likely thing an automated buyer does. Derive the key from what you are buying and reuse it across retries; a fresh random value per attempt satisfies the check and keeps the bug. The item is QUOTED first and the delivered total is checked against both your maxTotalCents and this key&#39;s limits before anything is charged. A card that demands 3-D Secure cannot be charged unattended; that answers 402 with &#x60;authentication_required&#x60; and the purchase must be finished on Crossly.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBuyerCheckoutResponse, Integer, Hash)>] CreateBuyerCheckoutResponse data, response status code and response headers
    def create_buyer_checkout_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerCheckoutApi.create_buyer_checkout ...'
      end
      # resource path
      local_var_path = '/v1/buyer/checkout'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBuyerCheckoutResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerCheckoutApi.create_buyer_checkout",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerCheckoutApi#create_buyer_checkout\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # What this key is allowed to spend.
    # Reports the controls for the key making the call — not for your account. Every key has its own switch and its own limits.
    # @param [Hash] opts the optional parameters
    # @return [GetBuyerCheckoutControlResponse]
    def get_buyer_checkout_control(opts = {})
      data, _status_code, _headers = get_buyer_checkout_control_with_http_info(opts)
      data
    end

    # What this key is allowed to spend.
    # Reports the controls for the key making the call — not for your account. Every key has its own switch and its own limits.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetBuyerCheckoutControlResponse, Integer, Hash)>] GetBuyerCheckoutControlResponse data, response status code and response headers
    def get_buyer_checkout_control_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerCheckoutApi.get_buyer_checkout_control ...'
      end
      # resource path
      local_var_path = '/v1/buyer/checkout/controls'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBuyerCheckoutControlResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerCheckoutApi.get_buyer_checkout_control",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerCheckoutApi#get_buyer_checkout_control\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Switch this key on for spending, and set its limits.
    # A key can only ever raise or lower ITS OWN limits, and only if the token already carries buyer:checkout:write. Turning it off takes effect immediately.
    # @param [Hash] opts the optional parameters
    # @return [UpdateBuyerCheckoutControlResponse]
    def update_buyer_checkout_control(opts = {})
      data, _status_code, _headers = update_buyer_checkout_control_with_http_info(opts)
      data
    end

    # Switch this key on for spending, and set its limits.
    # A key can only ever raise or lower ITS OWN limits, and only if the token already carries buyer:checkout:write. Turning it off takes effect immediately.
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateBuyerCheckoutControlResponse, Integer, Hash)>] UpdateBuyerCheckoutControlResponse data, response status code and response headers
    def update_buyer_checkout_control_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerCheckoutApi.update_buyer_checkout_control ...'
      end
      # resource path
      local_var_path = '/v1/buyer/checkout/controls'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateBuyerCheckoutControlResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerCheckoutApi.update_buyer_checkout_control",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerCheckoutApi#update_buyer_checkout_control\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
