=begin
#Crossly Buyer API

#The buyer-facing Crossly API — cart, orders, wishlists, offers, cashback. A DIFFERENT principal from the seller API: authenticated by a buyer OAuth token scoped `buyer:*` and resolved by `resolveBuyer`. A seller Personal Access Token will NOT authenticate these endpoints.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module CrosslyBuyer
  class BuyerCatalogApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Identify a held object and return a HUD-ready answer.
    # The gesture endpoint for Live Shop. Runs a cost ladder: a decoded BARCODE resolves in ~50ms for nothing; failing that, self-hosted CLIP matches the catalogue; failing that, a vision model names it (the only rung that costs anything, capped per buyer per day). `hud` is pre-formatted for a 600×600 lens — one headline, one subline, up to three fact chips and exactly ONE action, because a pinch cannot choose between buttons. A vision label is WORDS, never an identity: it names the thing so the buyer can search, and never drives a price comparison.
    # @param [Hash] opts the optional parameters
    # @return [CreateBuyerIdentifyResponse]
    def create_buyer_identify(opts = {})
      data, _status_code, _headers = create_buyer_identify_with_http_info(opts)
      data
    end

    # Identify a held object and return a HUD-ready answer.
    # The gesture endpoint for Live Shop. Runs a cost ladder: a decoded BARCODE resolves in ~50ms for nothing; failing that, self-hosted CLIP matches the catalogue; failing that, a vision model names it (the only rung that costs anything, capped per buyer per day). &#x60;hud&#x60; is pre-formatted for a 600×600 lens — one headline, one subline, up to three fact chips and exactly ONE action, because a pinch cannot choose between buttons. A vision label is WORDS, never an identity: it names the thing so the buyer can search, and never drives a price comparison.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBuyerIdentifyResponse, Integer, Hash)>] CreateBuyerIdentifyResponse data, response status code and response headers
    def create_buyer_identify_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerCatalogApi.create_buyer_identify ...'
      end
      # resource path
      local_var_path = '/v1/buyer/identify'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBuyerIdentifyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerCatalogApi.create_buyer_identify",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerCatalogApi#create_buyer_identify\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lock on to an object the buyer is holding.
    # Open this when on-device tracking acquires an object, then post observations to it as the buyer turns the thing over. The answer improves as evidence arrives — the style code inside a shoe settles what the front of it could not.
    # @param [Hash] opts the optional parameters
    # @return [CreateBuyerLockonResponse]
    def create_buyer_lockon(opts = {})
      data, _status_code, _headers = create_buyer_lockon_with_http_info(opts)
      data
    end

    # Lock on to an object the buyer is holding.
    # Open this when on-device tracking acquires an object, then post observations to it as the buyer turns the thing over. The answer improves as evidence arrives — the style code inside a shoe settles what the front of it could not.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBuyerLockonResponse, Integer, Hash)>] CreateBuyerLockonResponse data, response status code and response headers
    def create_buyer_lockon_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerCatalogApi.create_buyer_lockon ...'
      end
      # resource path
      local_var_path = '/v1/buyer/lockons'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBuyerLockonResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerCatalogApi.create_buyer_lockon",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerCatalogApi#create_buyer_lockon\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The buyer picked one of the candidates.
    # Promotes a text match to a CONFIRMED identity — the strongest evidence in the system, because a person holding the object said yes. Validated against the candidates we actually offered, so it cannot be claimed about an arbitrary product.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateBuyerLockonConfirmResponse]
    def create_buyer_lockon_confirm(id, opts = {})
      data, _status_code, _headers = create_buyer_lockon_confirm_with_http_info(id, opts)
      data
    end

    # The buyer picked one of the candidates.
    # Promotes a text match to a CONFIRMED identity — the strongest evidence in the system, because a person holding the object said yes. Validated against the candidates we actually offered, so it cannot be claimed about an arbitrary product.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBuyerLockonConfirmResponse, Integer, Hash)>] CreateBuyerLockonConfirmResponse data, response status code and response headers
    def create_buyer_lockon_confirm_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerCatalogApi.create_buyer_lockon_confirm ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BuyerCatalogApi.create_buyer_lockon_confirm"
      end
      # resource path
      local_var_path = '/v1/buyer/lockons/{id}/confirm'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBuyerLockonConfirmResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerCatalogApi.create_buyer_lockon_confirm",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerCatalogApi#create_buyer_lockon_confirm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add what this frame revealed, and get the current best answer.
    # Send only what you LEARNED: a decoded barcode, newly-read OCR text, or a frame when neither settled it. Do not post every frame — tracking and decoding happen on-device for free, and this endpoint is for evidence, not video. Evidence is RANKED (confirmed > barcode > ocr > visual), so a late weak reading can never overwrite a strong early one. When text evidence finds several products, `candidates` comes back for the buyer to pick from — a vision label is words, and only a human confirmation turns it into an identity we will price against.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateBuyerLockonObserveResponse]
    def create_buyer_lockon_observe(id, opts = {})
      data, _status_code, _headers = create_buyer_lockon_observe_with_http_info(id, opts)
      data
    end

    # Add what this frame revealed, and get the current best answer.
    # Send only what you LEARNED: a decoded barcode, newly-read OCR text, or a frame when neither settled it. Do not post every frame — tracking and decoding happen on-device for free, and this endpoint is for evidence, not video. Evidence is RANKED (confirmed &gt; barcode &gt; ocr &gt; visual), so a late weak reading can never overwrite a strong early one. When text evidence finds several products, &#x60;candidates&#x60; comes back for the buyer to pick from — a vision label is words, and only a human confirmation turns it into an identity we will price against.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBuyerLockonObserveResponse, Integer, Hash)>] CreateBuyerLockonObserveResponse data, response status code and response headers
    def create_buyer_lockon_observe_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerCatalogApi.create_buyer_lockon_observe ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BuyerCatalogApi.create_buyer_lockon_observe"
      end
      # resource path
      local_var_path = '/v1/buyer/lockons/{id}/observe'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBuyerLockonObserveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerCatalogApi.create_buyer_lockon_observe",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerCatalogApi#create_buyer_lockon_observe\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Identify a physical item and find the cheapest place to buy it.
    # Send a barcode identifier OR a photo. A BARCODE establishes identity, so the response carries a full price verdict across Crossly and other retailers. A PHOTO establishes resemblance only: you get visual matches from the Crossly catalogue, and a price verdict ONLY if the matched listing carries a real identifier. When it does not, `comparable` is false and there is no verdict — a price comparison built on a visual guess is a claim about a different product. Most second-hand items have no identifier by nature, so this is expected rather than a failure.
    # @param [Hash] opts the optional parameters
    # @return [CreateBuyerScanResponse]
    def create_buyer_scan(opts = {})
      data, _status_code, _headers = create_buyer_scan_with_http_info(opts)
      data
    end

    # Identify a physical item and find the cheapest place to buy it.
    # Send a barcode identifier OR a photo. A BARCODE establishes identity, so the response carries a full price verdict across Crossly and other retailers. A PHOTO establishes resemblance only: you get visual matches from the Crossly catalogue, and a price verdict ONLY if the matched listing carries a real identifier. When it does not, &#x60;comparable&#x60; is false and there is no verdict — a price comparison built on a visual guess is a claim about a different product. Most second-hand items have no identifier by nature, so this is expected rather than a failure.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBuyerScanResponse, Integer, Hash)>] CreateBuyerScanResponse data, response status code and response headers
    def create_buyer_scan_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerCatalogApi.create_buyer_scan ...'
      end
      # resource path
      local_var_path = '/v1/buyer/scan'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBuyerScanResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerCatalogApi.create_buyer_scan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerCatalogApi#create_buyer_scan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Open a Live Shop session.
    # Call this when the glasses connect, then pass the returned id as `sessionId` on each scan. Opening a session CLOSES any other live one — a person is in one shop at a time, and two live sessions split a trip across both.
    # @param [Hash] opts the optional parameters
    # @return [CreateBuyerScanSessionResponse]
    def create_buyer_scan_session(opts = {})
      data, _status_code, _headers = create_buyer_scan_session_with_http_info(opts)
      data
    end

    # Open a Live Shop session.
    # Call this when the glasses connect, then pass the returned id as &#x60;sessionId&#x60; on each scan. Opening a session CLOSES any other live one — a person is in one shop at a time, and two live sessions split a trip across both.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBuyerScanSessionResponse, Integer, Hash)>] CreateBuyerScanSessionResponse data, response status code and response headers
    def create_buyer_scan_session_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerCatalogApi.create_buyer_scan_session ...'
      end
      # resource path
      local_var_path = '/v1/buyer/scan/sessions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBuyerScanSessionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerCatalogApi.create_buyer_scan_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerCatalogApi#create_buyer_scan_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Close a Live Shop session.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateBuyerScanSessionEndResponse]
    def create_buyer_scan_session_end(id, opts = {})
      data, _status_code, _headers = create_buyer_scan_session_end_with_http_info(id, opts)
      data
    end

    # Close a Live Shop session.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBuyerScanSessionEndResponse, Integer, Hash)>] CreateBuyerScanSessionEndResponse data, response status code and response headers
    def create_buyer_scan_session_end_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerCatalogApi.create_buyer_scan_session_end ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BuyerCatalogApi.create_buyer_scan_session_end"
      end
      # resource path
      local_var_path = '/v1/buyer/scan/sessions/{id}/end'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBuyerScanSessionEndResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerCatalogApi.create_buyer_scan_session_end",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerCatalogApi#create_buyer_scan_session_end\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cheapest source for an item — Crossly first, then other retailers.
    # Answers with a VERDICT, not a list: crossly_best, offsite_cheaper, offsite_only or no_match. Offsite offers come from licensed affiliate product feeds, are ranked CHEAPEST-FIRST — commission only ever breaks a sub-$1 tie — and only appear when they beat the price you passed in. `shippingUnknown: true` means a compared price omitted postage, so present the result as \"before postage\" rather than as a delivered total. Crossly wins ties within $1; beyond that the honest answer wins.
    # @param [Hash] opts the optional parameters
    # @return [GetBuyerAnywhereResponse]
    def get_buyer_anywhere(opts = {})
      data, _status_code, _headers = get_buyer_anywhere_with_http_info(opts)
      data
    end

    # Cheapest source for an item — Crossly first, then other retailers.
    # Answers with a VERDICT, not a list: crossly_best, offsite_cheaper, offsite_only or no_match. Offsite offers come from licensed affiliate product feeds, are ranked CHEAPEST-FIRST — commission only ever breaks a sub-$1 tie — and only appear when they beat the price you passed in. &#x60;shippingUnknown: true&#x60; means a compared price omitted postage, so present the result as \&quot;before postage\&quot; rather than as a delivered total. Crossly wins ties within $1; beyond that the honest answer wins.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetBuyerAnywhereResponse, Integer, Hash)>] GetBuyerAnywhereResponse data, response status code and response headers
    def get_buyer_anywhere_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerCatalogApi.get_buyer_anywhere ...'
      end
      # resource path
      local_var_path = '/v1/buyer/anywhere'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBuyerAnywhereResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerCatalogApi.get_buyer_anywhere",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerCatalogApi#get_buyer_anywhere\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Brands, categories and conditions that currently have stock.
    # The vocabulary the search filters accept. Counts are live, so a filter built from this will never return an empty page for a value that has since sold out.
    # @param [Hash] opts the optional parameters
    # @return [GetBuyerCatalogFacetResponse]
    def get_buyer_catalog_facet(opts = {})
      data, _status_code, _headers = get_buyer_catalog_facet_with_http_info(opts)
      data
    end

    # Brands, categories and conditions that currently have stock.
    # The vocabulary the search filters accept. Counts are live, so a filter built from this will never return an empty page for a value that has since sold out.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetBuyerCatalogFacetResponse, Integer, Hash)>] GetBuyerCatalogFacetResponse data, response status code and response headers
    def get_buyer_catalog_facet_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerCatalogApi.get_buyer_catalog_facet ...'
      end
      # resource path
      local_var_path = '/v1/buyer/catalog/facets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBuyerCatalogFacetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerCatalogApi.get_buyer_catalog_facet",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerCatalogApi#get_buyer_catalog_facet\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # One listing, in full.
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetBuyerCatalogListingResponse]
    def get_buyer_catalog_listing(slug, opts = {})
      data, _status_code, _headers = get_buyer_catalog_listing_with_http_info(slug, opts)
      data
    end

    # One listing, in full.
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetBuyerCatalogListingResponse, Integer, Hash)>] GetBuyerCatalogListingResponse data, response status code and response headers
    def get_buyer_catalog_listing_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerCatalogApi.get_buyer_catalog_listing ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling BuyerCatalogApi.get_buyer_catalog_listing"
      end
      # resource path
      local_var_path = '/v1/buyer/catalog/listings/{slug}'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBuyerCatalogListingResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerCatalogApi.get_buyer_catalog_listing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerCatalogApi#get_buyer_catalog_listing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Is it still buyable, and at what price.
    # The cheapest endpoint here, and the one to poll if you are going to poll — a single indexed row, no joins beyond stock, and an ETag so an unchanged answer is a 304. If you want to be TOLD instead of asking, create a monitor.
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetBuyerCatalogListingAvailabilityResponse]
    def get_buyer_catalog_listing_availability(slug, opts = {})
      data, _status_code, _headers = get_buyer_catalog_listing_availability_with_http_info(slug, opts)
      data
    end

    # Is it still buyable, and at what price.
    # The cheapest endpoint here, and the one to poll if you are going to poll — a single indexed row, no joins beyond stock, and an ETag so an unchanged answer is a 304. If you want to be TOLD instead of asking, create a monitor.
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetBuyerCatalogListingAvailabilityResponse, Integer, Hash)>] GetBuyerCatalogListingAvailabilityResponse data, response status code and response headers
    def get_buyer_catalog_listing_availability_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerCatalogApi.get_buyer_catalog_listing_availability ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling BuyerCatalogApi.get_buyer_catalog_listing_availability"
      end
      # resource path
      local_var_path = '/v1/buyer/catalog/listings/{slug}/availability'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBuyerCatalogListingAvailabilityResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerCatalogApi.get_buyer_catalog_listing_availability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerCatalogApi#get_buyer_catalog_listing_availability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # One trip and everything it found.
    # Verdicts are returned EXACTLY as they were given at the time, not re-priced. A history screen that silently refreshes old prices shows a saving that was never actually on offer.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetBuyerScanSessionResponse]
    def get_buyer_scan_session(id, opts = {})
      data, _status_code, _headers = get_buyer_scan_session_with_http_info(id, opts)
      data
    end

    # One trip and everything it found.
    # Verdicts are returned EXACTLY as they were given at the time, not re-priced. A history screen that silently refreshes old prices shows a saving that was never actually on offer.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetBuyerScanSessionResponse, Integer, Hash)>] GetBuyerScanSessionResponse data, response status code and response headers
    def get_buyer_scan_session_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerCatalogApi.get_buyer_scan_session ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BuyerCatalogApi.get_buyer_scan_session"
      end
      # resource path
      local_var_path = '/v1/buyer/scan/sessions/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBuyerScanSessionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerCatalogApi.get_buyer_scan_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerCatalogApi#get_buyer_scan_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search the Crossly catalogue.
    # Keyset-paginated. Pass the `nextCursor` you were given back as `cursor`; page 500 costs the same as page 1. Cursors are opaque — do not parse them. Responses carry an ETag: send it back as If-None-Match and an unchanged page answers 304, which is free. `sort=popular` is deliberately unavailable, because a cursor into a continuously-reordering list silently skips rows.
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_buyer_catalog_search(opts = {})
      data, _status_code, _headers = list_buyer_catalog_search_with_http_info(opts)
      data
    end

    # Search the Crossly catalogue.
    # Keyset-paginated. Pass the &#x60;nextCursor&#x60; you were given back as &#x60;cursor&#x60;; page 500 costs the same as page 1. Cursors are opaque — do not parse them. Responses carry an ETag: send it back as If-None-Match and an unchanged page answers 304, which is free. &#x60;sort&#x3D;popular&#x60; is deliberately unavailable, because a cursor into a continuously-reordering list silently skips rows.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_buyer_catalog_search_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerCatalogApi.list_buyer_catalog_search ...'
      end
      # resource path
      local_var_path = '/v1/buyer/catalog/search'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerCatalogApi.list_buyer_catalog_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerCatalogApi#list_buyer_catalog_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Your scanning trips, newest first.
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_buyer_scan_sessions(opts = {})
      data, _status_code, _headers = list_buyer_scan_sessions_with_http_info(opts)
      data
    end

    # Your scanning trips, newest first.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_buyer_scan_sessions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerCatalogApi.list_buyer_scan_sessions ...'
      end
      # resource path
      local_var_path = '/v1/buyer/scan/sessions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerCatalogApi.list_buyer_scan_sessions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerCatalogApi#list_buyer_scan_sessions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
