=begin
#Crossly Buyer API

#The buyer-facing Crossly API — cart, orders, wishlists, offers, cashback. A DIFFERENT principal from the seller API: authenticated by a buyer OAuth token scoped `buyer:*` and resolved by `resolveBuyer`. A seller Personal Access Token will NOT authenticate these endpoints.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module CrosslyBuyer
  class BuyerMonitorsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Watch a search, and be told when it matches.
    # Works immediately — there is no review step. The signing secret is returned ONCE, here; it is never readable again. The first sweep SEEDS without firing: a restock alert created while the item is already in stock has not observed a restock, and a new-listing monitor would otherwise deliver the entire back catalogue.
    # @param [Hash] opts the optional parameters
    # @return [CreateBuyerMonitorResponse]
    def create_buyer_monitor(opts = {})
      data, _status_code, _headers = create_buyer_monitor_with_http_info(opts)
      data
    end

    # Watch a search, and be told when it matches.
    # Works immediately — there is no review step. The signing secret is returned ONCE, here; it is never readable again. The first sweep SEEDS without firing: a restock alert created while the item is already in stock has not observed a restock, and a new-listing monitor would otherwise deliver the entire back catalogue.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBuyerMonitorResponse, Integer, Hash)>] CreateBuyerMonitorResponse data, response status code and response headers
    def create_buyer_monitor_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerMonitorsApi.create_buyer_monitor ...'
      end
      # resource path
      local_var_path = '/v1/buyer/monitors'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBuyerMonitorResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerMonitorsApi.create_buyer_monitor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerMonitorsApi#create_buyer_monitor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a monitor.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_buyer_monitor(id, opts = {})
      delete_buyer_monitor_with_http_info(id, opts)
      nil
    end

    # Delete a monitor.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_buyer_monitor_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerMonitorsApi.delete_buyer_monitor ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BuyerMonitorsApi.delete_buyer_monitor"
      end
      # resource path
      local_var_path = '/v1/buyer/monitors/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerMonitorsApi.delete_buyer_monitor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerMonitorsApi#delete_buyer_monitor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # What this monitor has matched.
    # The read side of a `poll` monitor, and an audit trail for a `webhook` one — so a missed delivery does not mean lost data.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_buyer_monitor_matches(id, opts = {})
      data, _status_code, _headers = list_buyer_monitor_matches_with_http_info(id, opts)
      data
    end

    # What this monitor has matched.
    # The read side of a &#x60;poll&#x60; monitor, and an audit trail for a &#x60;webhook&#x60; one — so a missed delivery does not mean lost data.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_buyer_monitor_matches_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerMonitorsApi.list_buyer_monitor_matches ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BuyerMonitorsApi.list_buyer_monitor_matches"
      end
      # resource path
      local_var_path = '/v1/buyer/monitors/{id}/matches'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerMonitorsApi.list_buyer_monitor_matches",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerMonitorsApi#list_buyer_monitor_matches\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Your monitors.
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_buyer_monitors(opts = {})
      data, _status_code, _headers = list_buyer_monitors_with_http_info(opts)
      data
    end

    # Your monitors.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_buyer_monitors_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerMonitorsApi.list_buyer_monitors ...'
      end
      # resource path
      local_var_path = '/v1/buyer/monitors'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerMonitorsApi.list_buyer_monitors",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerMonitorsApi#list_buyer_monitors\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pause, resume or rename a monitor.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateBuyerMonitorResponse]
    def update_buyer_monitor(id, opts = {})
      data, _status_code, _headers = update_buyer_monitor_with_http_info(id, opts)
      data
    end

    # Pause, resume or rename a monitor.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateBuyerMonitorResponse, Integer, Hash)>] UpdateBuyerMonitorResponse data, response status code and response headers
    def update_buyer_monitor_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuyerMonitorsApi.update_buyer_monitor ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BuyerMonitorsApi.update_buyer_monitor"
      end
      # resource path
      local_var_path = '/v1/buyer/monitors/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateBuyerMonitorResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BuyerOAuth']

      new_options = opts.merge(
        :operation => :"BuyerMonitorsApi.update_buyer_monitor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuyerMonitorsApi#update_buyer_monitor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
