=begin
#Crossly Seller API

#The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module Crossly
  class AnalyticsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Monthly P&L + per-platform breakdown for a calendar year.
    # @param [Hash] opts the optional parameters
    # @return [GetAnalyticBookkeepingResponse]
    def get_analytic_bookkeeping(opts = {})
      data, _status_code, _headers = get_analytic_bookkeeping_with_http_info(opts)
      data
    end

    # Monthly P&amp;L + per-platform breakdown for a calendar year.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAnalyticBookkeepingResponse, Integer, Hash)>] GetAnalyticBookkeepingResponse data, response status code and response headers
    def get_analytic_bookkeeping_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_analytic_bookkeeping ...'
      end
      # resource path
      local_var_path = '/v1/analytics/bookkeeping'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAnalyticBookkeepingResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_analytic_bookkeeping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_analytic_bookkeeping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sales + revenue grouped by platform for the last N days.
    # @param [Hash] opts the optional parameters
    # @return [GetAnalyticByPlatformResponse]
    def get_analytic_by_platform(opts = {})
      data, _status_code, _headers = get_analytic_by_platform_with_http_info(opts)
      data
    end

    # Sales + revenue grouped by platform for the last N days.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAnalyticByPlatformResponse, Integer, Hash)>] GetAnalyticByPlatformResponse data, response status code and response headers
    def get_analytic_by_platform_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_analytic_by_platform ...'
      end
      # resource path
      local_var_path = '/v1/analytics/by-platform'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAnalyticByPlatformResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_analytic_by_platform",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_analytic_by_platform\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Composite dashboard: KPIs + breakdowns + recent activity.
    # @param [Hash] opts the optional parameters
    # @return [GetAnalyticDashboardResponse]
    def get_analytic_dashboard(opts = {})
      data, _status_code, _headers = get_analytic_dashboard_with_http_info(opts)
      data
    end

    # Composite dashboard: KPIs + breakdowns + recent activity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAnalyticDashboardResponse, Integer, Hash)>] GetAnalyticDashboardResponse data, response status code and response headers
    def get_analytic_dashboard_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_analytic_dashboard ...'
      end
      # resource path
      local_var_path = '/v1/analytics/dashboard'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAnalyticDashboardResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_analytic_dashboard",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_analytic_dashboard\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Per-item P&L for sold inventory.
    # @param [Hash] opts the optional parameters
    # @return [GetAnalyticItemResponse]
    def get_analytic_item(opts = {})
      data, _status_code, _headers = get_analytic_item_with_http_info(opts)
      data
    end

    # Per-item P&amp;L for sold inventory.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAnalyticItemResponse, Integer, Hash)>] GetAnalyticItemResponse data, response status code and response headers
    def get_analytic_item_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_analytic_item ...'
      end
      # resource path
      local_var_path = '/v1/analytics/items'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAnalyticItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_analytic_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_analytic_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Headline KPIs for the last N days.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :days  (default to 30)
    # @return [GetAnalyticSummaryResponse]
    def get_analytic_summary(opts = {})
      data, _status_code, _headers = get_analytic_summary_with_http_info(opts)
      data
    end

    # Headline KPIs for the last N days.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :days 
    # @return [Array<(GetAnalyticSummaryResponse, Integer, Hash)>] GetAnalyticSummaryResponse data, response status code and response headers
    def get_analytic_summary_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_analytic_summary ...'
      end
      if @api_client.config.client_side_validation && !opts[:'days'].nil? && opts[:'days'] > 365
        fail ArgumentError, 'invalid value for "opts[:"days"]" when calling AnalyticsApi.get_analytic_summary, must be smaller than or equal to 365.'
      end

      if @api_client.config.client_side_validation && !opts[:'days'].nil? && opts[:'days'] < 1
        fail ArgumentError, 'invalid value for "opts[:"days"]" when calling AnalyticsApi.get_analytic_summary, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/analytics/summary'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'days'] = opts[:'days'] if !opts[:'days'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAnalyticSummaryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_analytic_summary",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_analytic_summary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Daily sales + revenue series for the last N days.
    # @param [Hash] opts the optional parameters
    # @return [GetAnalyticTimeseryResponse]
    def get_analytic_timesery(opts = {})
      data, _status_code, _headers = get_analytic_timesery_with_http_info(opts)
      data
    end

    # Daily sales + revenue series for the last N days.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAnalyticTimeseryResponse, Integer, Hash)>] GetAnalyticTimeseryResponse data, response status code and response headers
    def get_analytic_timesery_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_analytic_timesery ...'
      end
      # resource path
      local_var_path = '/v1/analytics/timeseries'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAnalyticTimeseryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_analytic_timesery",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_analytic_timesery\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Today's checklist + 14-day activity streak.
    # @param [Hash] opts the optional parameters
    # @return [GetAnalyticTodayResponse]
    def get_analytic_today(opts = {})
      data, _status_code, _headers = get_analytic_today_with_http_info(opts)
      data
    end

    # Today&#39;s checklist + 14-day activity streak.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAnalyticTodayResponse, Integer, Hash)>] GetAnalyticTodayResponse data, response status code and response headers
    def get_analytic_today_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_analytic_today ...'
      end
      # resource path
      local_var_path = '/v1/analytics/today'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAnalyticTodayResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_analytic_today",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_analytic_today\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Platform velocity + margin insight (90-day window).
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_insight_by_platform(opts = {})
      data, _status_code, _headers = list_insight_by_platform_with_http_info(opts)
      data
    end

    # Platform velocity + margin insight (90-day window).
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_insight_by_platform_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.list_insight_by_platform ...'
      end
      # resource path
      local_var_path = '/v1/insights/by-platform'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.list_insight_by_platform",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#list_insight_by_platform\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
