=begin
#Crossly Seller API

#The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module Crossly
  class AutomationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an automation rule.
    # @param [Hash] opts the optional parameters
    # @return [CreateAutomationRuleResponse]
    def create_automation_rule(opts = {})
      data, _status_code, _headers = create_automation_rule_with_http_info(opts)
      data
    end

    # Create an automation rule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAutomationRuleResponse, Integer, Hash)>] CreateAutomationRuleResponse data, response status code and response headers
    def create_automation_rule_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutomationApi.create_automation_rule ...'
      end
      # resource path
      local_var_path = '/v1/automation/rules'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAutomationRuleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"AutomationApi.create_automation_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationApi#create_automation_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Import one or more rules from recipe JSON (single or bundle).
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :activate  (default to false)
    # @return [CreateAutomationRuleImportResponse]
    def create_automation_rule_import(opts = {})
      data, _status_code, _headers = create_automation_rule_import_with_http_info(opts)
      data
    end

    # Import one or more rules from recipe JSON (single or bundle).
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :activate 
    # @return [Array<(CreateAutomationRuleImportResponse, Integer, Hash)>] CreateAutomationRuleImportResponse data, response status code and response headers
    def create_automation_rule_import_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutomationApi.create_automation_rule_import ...'
      end
      # resource path
      local_var_path = '/v1/automation/rules/import'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'activate'] = opts[:'activate'] if !opts[:'activate'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAutomationRuleImportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"AutomationApi.create_automation_rule_import",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationApi#create_automation_rule_import\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fire an automation rule immediately.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAutomationRuleRunNowResponse]
    def create_automation_rule_run_now(id, opts = {})
      data, _status_code, _headers = create_automation_rule_run_now_with_http_info(id, opts)
      data
    end

    # Fire an automation rule immediately.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAutomationRuleRunNowResponse, Integer, Hash)>] CreateAutomationRuleRunNowResponse data, response status code and response headers
    def create_automation_rule_run_now_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutomationApi.create_automation_rule_run_now ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AutomationApi.create_automation_rule_run_now"
      end
      # resource path
      local_var_path = '/v1/automation/rules/{id}/run-now'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAutomationRuleRunNowResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"AutomationApi.create_automation_rule_run_now",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationApi#create_automation_rule_run_now\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Flip an automation rule between active and inactive.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAutomationRuleToggleResponse]
    def create_automation_rule_toggle(id, opts = {})
      data, _status_code, _headers = create_automation_rule_toggle_with_http_info(id, opts)
      data
    end

    # Flip an automation rule between active and inactive.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAutomationRuleToggleResponse, Integer, Hash)>] CreateAutomationRuleToggleResponse data, response status code and response headers
    def create_automation_rule_toggle_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutomationApi.create_automation_rule_toggle ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AutomationApi.create_automation_rule_toggle"
      end
      # resource path
      local_var_path = '/v1/automation/rules/{id}/toggle'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAutomationRuleToggleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"AutomationApi.create_automation_rule_toggle",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationApi#create_automation_rule_toggle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Dry-run validate one or more recipes against the live catalog.
    # @param [Hash] opts the optional parameters
    # @return [CreateAutomationRuleValidateRecipeResponse]
    def create_automation_rule_validate_recipe(opts = {})
      data, _status_code, _headers = create_automation_rule_validate_recipe_with_http_info(opts)
      data
    end

    # Dry-run validate one or more recipes against the live catalog.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAutomationRuleValidateRecipeResponse, Integer, Hash)>] CreateAutomationRuleValidateRecipeResponse data, response status code and response headers
    def create_automation_rule_validate_recipe_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutomationApi.create_automation_rule_validate_recipe ...'
      end
      # resource path
      local_var_path = '/v1/automation/rules/validate-recipe'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAutomationRuleValidateRecipeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"AutomationApi.create_automation_rule_validate_recipe",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationApi#create_automation_rule_validate_recipe\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an automation rule.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteAutomationRuleResponse]
    def delete_automation_rule(id, opts = {})
      data, _status_code, _headers = delete_automation_rule_with_http_info(id, opts)
      data
    end

    # Delete an automation rule.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteAutomationRuleResponse, Integer, Hash)>] DeleteAutomationRuleResponse data, response status code and response headers
    def delete_automation_rule_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutomationApi.delete_automation_rule ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AutomationApi.delete_automation_rule"
      end
      # resource path
      local_var_path = '/v1/automation/rules/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteAutomationRuleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"AutomationApi.delete_automation_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationApi#delete_automation_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Supported triggerType / actionType / conditionType values for automation rules.
    # @param [Hash] opts the optional parameters
    # @return [GetAutomationCatalogResponse]
    def get_automation_catalog(opts = {})
      data, _status_code, _headers = get_automation_catalog_with_http_info(opts)
      data
    end

    # Supported triggerType / actionType / conditionType values for automation rules.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAutomationCatalogResponse, Integer, Hash)>] GetAutomationCatalogResponse data, response status code and response headers
    def get_automation_catalog_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutomationApi.get_automation_catalog ...'
      end
      # resource path
      local_var_path = '/v1/automation/catalog'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAutomationCatalogResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"AutomationApi.get_automation_catalog",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationApi#get_automation_catalog\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single automation rule.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetAutomationRuleResponse]
    def get_automation_rule(id, opts = {})
      data, _status_code, _headers = get_automation_rule_with_http_info(id, opts)
      data
    end

    # Get a single automation rule.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAutomationRuleResponse, Integer, Hash)>] GetAutomationRuleResponse data, response status code and response headers
    def get_automation_rule_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutomationApi.get_automation_rule ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AutomationApi.get_automation_rule"
      end
      # resource path
      local_var_path = '/v1/automation/rules/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAutomationRuleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"AutomationApi.get_automation_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationApi#get_automation_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Export the user's full rule library as a portable recipe bundle.
    # @param [Hash] opts the optional parameters
    # @return [GetAutomationRuleExportResponse]
    def get_automation_rule_export(opts = {})
      data, _status_code, _headers = get_automation_rule_export_with_http_info(opts)
      data
    end

    # Export the user&#39;s full rule library as a portable recipe bundle.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAutomationRuleExportResponse, Integer, Hash)>] GetAutomationRuleExportResponse data, response status code and response headers
    def get_automation_rule_export_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutomationApi.get_automation_rule_export ...'
      end
      # resource path
      local_var_path = '/v1/automation/rules/export'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAutomationRuleExportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"AutomationApi.get_automation_rule_export",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationApi#get_automation_rule_export\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Export a single automation rule as a portable recipe.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetAutomationRuleExportByIdResponse]
    def get_automation_rule_export_by_id(id, opts = {})
      data, _status_code, _headers = get_automation_rule_export_by_id_with_http_info(id, opts)
      data
    end

    # Export a single automation rule as a portable recipe.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAutomationRuleExportByIdResponse, Integer, Hash)>] GetAutomationRuleExportByIdResponse data, response status code and response headers
    def get_automation_rule_export_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutomationApi.get_automation_rule_export_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AutomationApi.get_automation_rule_export_by_id"
      end
      # resource path
      local_var_path = '/v1/automation/rules/{id}/export'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAutomationRuleExportByIdResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"AutomationApi.get_automation_rule_export_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationApi#get_automation_rule_export_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List automation rules.
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_automation_rules(opts = {})
      data, _status_code, _headers = list_automation_rules_with_http_info(opts)
      data
    end

    # List automation rules.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_automation_rules_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutomationApi.list_automation_rules ...'
      end
      # resource path
      local_var_path = '/v1/automation/rules'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"AutomationApi.list_automation_rules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationApi#list_automation_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Per-fire history for automation rules and workflow chain runs.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :rule_id 
    # @option opts [String] :chain_id 
    # @option opts [Integer] :limit  (default to 100)
    # @return [V1List]
    def list_automation_runs(opts = {})
      data, _status_code, _headers = list_automation_runs_with_http_info(opts)
      data
    end

    # Per-fire history for automation rules and workflow chain runs.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :rule_id 
    # @option opts [String] :chain_id 
    # @option opts [Integer] :limit 
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_automation_runs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutomationApi.list_automation_runs ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AutomationApi.list_automation_runs, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AutomationApi.list_automation_runs, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/automation/runs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ruleId'] = opts[:'rule_id'] if !opts[:'rule_id'].nil?
      query_params[:'chainId'] = opts[:'chain_id'] if !opts[:'chain_id'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"AutomationApi.list_automation_runs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationApi#list_automation_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an automation rule (full replace).
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateAutomationRuleResponse]
    def update_automation_rule(id, opts = {})
      data, _status_code, _headers = update_automation_rule_with_http_info(id, opts)
      data
    end

    # Update an automation rule (full replace).
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateAutomationRuleResponse, Integer, Hash)>] UpdateAutomationRuleResponse data, response status code and response headers
    def update_automation_rule_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutomationApi.update_automation_rule ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AutomationApi.update_automation_rule"
      end
      # resource path
      local_var_path = '/v1/automation/rules/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateAutomationRuleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"AutomationApi.update_automation_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationApi#update_automation_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
