=begin
#Crossly Seller API

#The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module Crossly
  class CatalogApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Live Crossly offers for a product identifier (barcode, style code, LEGO set…).
    # Identifier-first: a GTIN is validated against its GS1 check digit and every length is normalised to 14 digits before lookup, so a UPC-A and its EAN-13 twin resolve to the same product. There is no fuzzy fallback — an identifier we cannot validate returns nothing rather than a guess.
    # @param namespace [String] 
    # @param value [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetCatalogLookupResponse]
    def get_catalog_lookup(namespace, value, opts = {})
      data, _status_code, _headers = get_catalog_lookup_with_http_info(namespace, value, opts)
      data
    end

    # Live Crossly offers for a product identifier (barcode, style code, LEGO set…).
    # Identifier-first: a GTIN is validated against its GS1 check digit and every length is normalised to 14 digits before lookup, so a UPC-A and its EAN-13 twin resolve to the same product. There is no fuzzy fallback — an identifier we cannot validate returns nothing rather than a guess.
    # @param namespace [String] 
    # @param value [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetCatalogLookupResponse, Integer, Hash)>] GetCatalogLookupResponse data, response status code and response headers
    def get_catalog_lookup_with_http_info(namespace, value, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogApi.get_catalog_lookup ...'
      end
      # verify the required parameter 'namespace' is set
      if @api_client.config.client_side_validation && namespace.nil?
        fail ArgumentError, "Missing the required parameter 'namespace' when calling CatalogApi.get_catalog_lookup"
      end
      # verify enum value
      allowable_values = ["gtin", "style_code", "lego_set", "tcgplayer", "discogs", "asin"]
      if @api_client.config.client_side_validation && !allowable_values.include?(namespace)
        fail ArgumentError, "invalid value for \"namespace\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'value' is set
      if @api_client.config.client_side_validation && value.nil?
        fail ArgumentError, "Missing the required parameter 'value' when calling CatalogApi.get_catalog_lookup"
      end
      if @api_client.config.client_side_validation && value.to_s.length > 64
        fail ArgumentError, 'invalid value for "value" when calling CatalogApi.get_catalog_lookup, the character length must be smaller than or equal to 64.'
      end

      # resource path
      local_var_path = '/v1/catalog/lookup'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'namespace'] = namespace
      query_params[:'value'] = value

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCatalogLookupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CatalogApi.get_catalog_lookup",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogApi#get_catalog_lookup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
