=begin
#Crossly Seller API

#The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module Crossly
  class CBXApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Record cashback a user earned, in cents.
    # The accrual is PENDING until its maturation window closes, then converts to CBX at that moment's market price. It is denominated in cents the whole time it is pending, deliberately: quoting a token quantity up front and buying later would leave the reserve short for the length of the window. Send sourceExternalId and a retry is a no-op rather than a double credit.
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxAccrualResponse]
    def create_cbx_accrual(opts = {})
      data, _status_code, _headers = create_cbx_accrual_with_http_info(opts)
      data
    end

    # Record cashback a user earned, in cents.
    # The accrual is PENDING until its maturation window closes, then converts to CBX at that moment&#39;s market price. It is denominated in cents the whole time it is pending, deliberately: quoting a token quantity up front and buying later would leave the reserve short for the length of the window. Send sourceExternalId and a retry is a no-op rather than a double credit.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxAccrualResponse, Integer, Hash)>] CreateCbxAccrualResponse data, response status code and response headers
    def create_cbx_accrual_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_accrual ...'
      end
      # resource path
      local_var_path = '/v1/cbx/accruals'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxAccrualResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_accrual",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_accrual\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Accrue cashback for an order at the resolved rate.
    # Prefer this over POST /accruals when you want us to do the rate maths — it resolves the tier, the boost and the stake boost, charges your boost budget in the same transaction, and records what rate was actually granted. If a matching boost cannot fund the order, the accrual falls back to your un-boosted rate and `boostBudgetExhausted` is true. Idempotent on externalId: a retried webhook neither accrues twice nor charges your budget twice.
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxAccrualPurchaseResponse]
    def create_cbx_accrual_purchase(opts = {})
      data, _status_code, _headers = create_cbx_accrual_purchase_with_http_info(opts)
      data
    end

    # Accrue cashback for an order at the resolved rate.
    # Prefer this over POST /accruals when you want us to do the rate maths — it resolves the tier, the boost and the stake boost, charges your boost budget in the same transaction, and records what rate was actually granted. If a matching boost cannot fund the order, the accrual falls back to your un-boosted rate and &#x60;boostBudgetExhausted&#x60; is true. Idempotent on externalId: a retried webhook neither accrues twice nor charges your budget twice.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxAccrualPurchaseResponse, Integer, Hash)>] CreateCbxAccrualPurchaseResponse data, response status code and response headers
    def create_cbx_accrual_purchase_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_accrual_purchase ...'
      end
      # resource path
      local_var_path = '/v1/cbx/accruals/purchase'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxAccrualPurchaseResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_accrual_purchase",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_accrual_purchase\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Claw back a pending accrual — a refund, a cancellation, fraud.
    # Only works while the accrual is still pending. Once it has converted, the value is tokens in somebody's balance and this is the wrong operation: reversing then is a debit against that balance, which is a different act with different consequences and is not something an integration key can do. This is why the maturation window has to be at least as long as your refund window.
    # @param accrual_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxAccrualReverseResponse]
    def create_cbx_accrual_reverse(accrual_id, opts = {})
      data, _status_code, _headers = create_cbx_accrual_reverse_with_http_info(accrual_id, opts)
      data
    end

    # Claw back a pending accrual — a refund, a cancellation, fraud.
    # Only works while the accrual is still pending. Once it has converted, the value is tokens in somebody&#39;s balance and this is the wrong operation: reversing then is a debit against that balance, which is a different act with different consequences and is not something an integration key can do. This is why the maturation window has to be at least as long as your refund window.
    # @param accrual_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxAccrualReverseResponse, Integer, Hash)>] CreateCbxAccrualReverseResponse data, response status code and response headers
    def create_cbx_accrual_reverse_with_http_info(accrual_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_accrual_reverse ...'
      end
      # verify the required parameter 'accrual_id' is set
      if @api_client.config.client_side_validation && accrual_id.nil?
        fail ArgumentError, "Missing the required parameter 'accrual_id' when calling CBXApi.create_cbx_accrual_reverse"
      end
      # resource path
      local_var_path = '/v1/cbx/accruals/{accrualId}/reverse'.sub('{' + 'accrualId' + '}', CGI.escape(accrual_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxAccrualReverseResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_accrual_reverse",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_accrual_reverse\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Claim ad credit against a CBX transfer you sent.
    # Send CBX to our revenue wallet yourself, then present the signature. We read the actual balance delta at FINALIZED commitment — a confirmed transaction can still be dropped by a fork, and this grants real credit. One signature can be claimed exactly once. Priced at the spot when the claim is processed, not when you signed: pricing at send time would let somebody hold signed transfers and claim only the ones that moved in their favour. A 409 means the transaction has not finalized yet and you should retry; a 400 means it will never be claimable (failed, wrong mint, wrong destination).
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxAdCreditPurchaseResponse]
    def create_cbx_ad_credit_purchase(opts = {})
      data, _status_code, _headers = create_cbx_ad_credit_purchase_with_http_info(opts)
      data
    end

    # Claim ad credit against a CBX transfer you sent.
    # Send CBX to our revenue wallet yourself, then present the signature. We read the actual balance delta at FINALIZED commitment — a confirmed transaction can still be dropped by a fork, and this grants real credit. One signature can be claimed exactly once. Priced at the spot when the claim is processed, not when you signed: pricing at send time would let somebody hold signed transfers and claim only the ones that moved in their favour. A 409 means the transaction has not finalized yet and you should retry; a 400 means it will never be claimable (failed, wrong mint, wrong destination).
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxAdCreditPurchaseResponse, Integer, Hash)>] CreateCbxAdCreditPurchaseResponse data, response status code and response headers
    def create_cbx_ad_credit_purchase_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_ad_credit_purchase ...'
      end
      # resource path
      local_var_path = '/v1/cbx/ad-credit/purchase'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxAdCreditPurchaseResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_ad_credit_purchase",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_ad_credit_purchase\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # What a given number of tokens buys in ad credit.
    # Credit is 1:1 with the market value of the tokens at confirmation. Refuses with 409 when there is no fresh price — pricing an entire prepaid budget off a guess is not something to do quietly.
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxAdCreditQuoteResponse]
    def create_cbx_ad_credit_quote(opts = {})
      data, _status_code, _headers = create_cbx_ad_credit_quote_with_http_info(opts)
      data
    end

    # What a given number of tokens buys in ad credit.
    # Credit is 1:1 with the market value of the tokens at confirmation. Refuses with 409 when there is no fresh price — pricing an entire prepaid budget off a guess is not something to do quietly.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxAdCreditQuoteResponse, Integer, Hash)>] CreateCbxAdCreditQuoteResponse data, response status code and response headers
    def create_cbx_ad_credit_quote_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_ad_credit_quote ...'
      end
      # resource path
      local_var_path = '/v1/cbx/ad-credit/quote'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxAdCreditQuoteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_ad_credit_quote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_ad_credit_quote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Consume credit for a billing period.
    # Spends what the balance covers and reports the rest as `shortfallCents` — the campaign should stop there rather than running on credit that does not exist. 20% of what is spent moves to the community events pool and 80% is operator revenue; the split happens on SPEND rather than at purchase, because the pool's share is earned when the advertising is actually delivered. Idempotent on externalId: pass your billing-period id so a retried run does not consume the same credit twice.
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxAdCreditSpendResponse]
    def create_cbx_ad_credit_spend(opts = {})
      data, _status_code, _headers = create_cbx_ad_credit_spend_with_http_info(opts)
      data
    end

    # Consume credit for a billing period.
    # Spends what the balance covers and reports the rest as &#x60;shortfallCents&#x60; — the campaign should stop there rather than running on credit that does not exist. 20% of what is spent moves to the community events pool and 80% is operator revenue; the split happens on SPEND rather than at purchase, because the pool&#39;s share is earned when the advertising is actually delivered. Idempotent on externalId: pass your billing-period id so a retried run does not consume the same credit twice.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxAdCreditSpendResponse, Integer, Hash)>] CreateCbxAdCreditSpendResponse data, response status code and response headers
    def create_cbx_ad_credit_spend_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_ad_credit_spend ...'
      end
      # resource path
      local_var_path = '/v1/cbx/ad-credit/spend'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxAdCreditSpendResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_ad_credit_spend",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_ad_credit_spend\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fund elevated cashback on matching items.
    # Performance marketing priced in CBX: the spend lands as a durable balance the buyer returns to use, rather than a one-time price cut they pocket. A boost REPLACES the base or tier rate rather than adding to it — you are stating the total you will pay, and it is priced against your margin. Targeting is matched by equality on one facet; most specific wins (sku > collection > category > all). Kinds: all, category, sku, collection.
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxBoostResponse]
    def create_cbx_boost(opts = {})
      data, _status_code, _headers = create_cbx_boost_with_http_info(opts)
      data
    end

    # Fund elevated cashback on matching items.
    # Performance marketing priced in CBX: the spend lands as a durable balance the buyer returns to use, rather than a one-time price cut they pocket. A boost REPLACES the base or tier rate rather than adding to it — you are stating the total you will pay, and it is priced against your margin. Targeting is matched by equality on one facet; most specific wins (sku &gt; collection &gt; category &gt; all). Kinds: all, category, sku, collection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxBoostResponse, Integer, Hash)>] CreateCbxBoostResponse data, response status code and response headers
    def create_cbx_boost_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_boost ...'
      end
      # resource path
      local_var_path = '/v1/cbx/boosts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxBoostResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_boost",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_boost\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stop a boost from matching further orders.
    # Pausing does not refund anything — already-accrued cashback is a promise already made to a buyer, and unwinding it would take back cashback somebody was shown at checkout. The remaining budget simply stops being spendable.
    # @param boost_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxBoostPauseResponse]
    def create_cbx_boost_pause(boost_id, opts = {})
      data, _status_code, _headers = create_cbx_boost_pause_with_http_info(boost_id, opts)
      data
    end

    # Stop a boost from matching further orders.
    # Pausing does not refund anything — already-accrued cashback is a promise already made to a buyer, and unwinding it would take back cashback somebody was shown at checkout. The remaining budget simply stops being spendable.
    # @param boost_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxBoostPauseResponse, Integer, Hash)>] CreateCbxBoostPauseResponse data, response status code and response headers
    def create_cbx_boost_pause_with_http_info(boost_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_boost_pause ...'
      end
      # verify the required parameter 'boost_id' is set
      if @api_client.config.client_side_validation && boost_id.nil?
        fail ArgumentError, "Missing the required parameter 'boost_id' when calling CBXApi.create_cbx_boost_pause"
      end
      # resource path
      local_var_path = '/v1/cbx/boosts/{boostId}/pause'.sub('{' + 'boostId' + '}', CGI.escape(boost_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxBoostPauseResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_boost_pause",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_boost_pause\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a campaign in draft.
    # Nothing is paid until it is previewed, approved and executed. Available metrics: accruals_count, accrued_cents, spend_count, spend_base_units — all of them measure activity inside the window. `capPerSubject` is worth setting on a proportional campaign: without it one large participant can take almost the whole pool, which makes the event pointless for everybody else.
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxCampaignResponse]
    def create_cbx_campaign(opts = {})
      data, _status_code, _headers = create_cbx_campaign_with_http_info(opts)
      data
    end

    # Create a campaign in draft.
    # Nothing is paid until it is previewed, approved and executed. Available metrics: accruals_count, accrued_cents, spend_count, spend_base_units — all of them measure activity inside the window. &#x60;capPerSubject&#x60; is worth setting on a proportional campaign: without it one large participant can take almost the whole pool, which makes the event pointless for everybody else.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxCampaignResponse, Integer, Hash)>] CreateCbxCampaignResponse data, response status code and response headers
    def create_cbx_campaign_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_campaign ...'
      end
      # resource path
      local_var_path = '/v1/cbx/campaigns'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxCampaignResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_campaign",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_campaign\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Approve the previewed recipient list.
    # @param campaign_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxCampaignApproveResponse]
    def create_cbx_campaign_approve(campaign_id, opts = {})
      data, _status_code, _headers = create_cbx_campaign_approve_with_http_info(campaign_id, opts)
      data
    end

    # Approve the previewed recipient list.
    # @param campaign_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxCampaignApproveResponse, Integer, Hash)>] CreateCbxCampaignApproveResponse data, response status code and response headers
    def create_cbx_campaign_approve_with_http_info(campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_campaign_approve ...'
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling CBXApi.create_cbx_campaign_approve"
      end
      # resource path
      local_var_path = '/v1/cbx/campaigns/{campaignId}/approve'.sub('{' + 'campaignId' + '}', CGI.escape(campaign_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxCampaignApproveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_campaign_approve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_campaign_approve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pay an approved campaign.
    # Recomputes the list and refuses if the hash no longer matches the approved one. Payouts credit balances directly rather than transferring on chain, so a distribution to ten thousand recipients costs one internal move and is reversible if it was computed wrong.
    # @param campaign_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxCampaignExecuteResponse]
    def create_cbx_campaign_execute(campaign_id, opts = {})
      data, _status_code, _headers = create_cbx_campaign_execute_with_http_info(campaign_id, opts)
      data
    end

    # Pay an approved campaign.
    # Recomputes the list and refuses if the hash no longer matches the approved one. Payouts credit balances directly rather than transferring on chain, so a distribution to ten thousand recipients costs one internal move and is reversible if it was computed wrong.
    # @param campaign_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxCampaignExecuteResponse, Integer, Hash)>] CreateCbxCampaignExecuteResponse data, response status code and response headers
    def create_cbx_campaign_execute_with_http_info(campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_campaign_execute ...'
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling CBXApi.create_cbx_campaign_execute"
      end
      # resource path
      local_var_path = '/v1/cbx/campaigns/{campaignId}/execute'.sub('{' + 'campaignId' + '}', CGI.escape(campaign_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxCampaignExecuteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_campaign_execute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_campaign_execute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Compute the recipient list without paying it.
    # Returns every recipient and amount, plus a hash of the list. Re-previewing invalidates any prior approval by design — the approver signed off on a specific list, and if it has changed they have not approved what would now happen.
    # @param campaign_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxCampaignPreviewResponse]
    def create_cbx_campaign_preview(campaign_id, opts = {})
      data, _status_code, _headers = create_cbx_campaign_preview_with_http_info(campaign_id, opts)
      data
    end

    # Compute the recipient list without paying it.
    # Returns every recipient and amount, plus a hash of the list. Re-previewing invalidates any prior approval by design — the approver signed off on a specific list, and if it has changed they have not approved what would now happen.
    # @param campaign_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxCampaignPreviewResponse, Integer, Hash)>] CreateCbxCampaignPreviewResponse data, response status code and response headers
    def create_cbx_campaign_preview_with_http_info(campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_campaign_preview ...'
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling CBXApi.create_cbx_campaign_preview"
      end
      # resource path
      local_var_path = '/v1/cbx/campaigns/{campaignId}/preview'.sub('{' + 'campaignId' + '}', CGI.escape(campaign_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxCampaignPreviewResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_campaign_preview",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_campaign_preview\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reserve a claim. Debits the balance and queues the transfer.
    # The balance is debited here, before anything is sent, which is the only safe order: sending first and debiting after means a crash between the two pays somebody and never charges them, and that is unrecoverable. A crash after this leaves a reserved balance and a pending claim, which is recoverable by looking at the chain. Send the same idempotencyKey to retry safely.
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxClaimResponse]
    def create_cbx_claim(opts = {})
      data, _status_code, _headers = create_cbx_claim_with_http_info(opts)
      data
    end

    # Reserve a claim. Debits the balance and queues the transfer.
    # The balance is debited here, before anything is sent, which is the only safe order: sending first and debiting after means a crash between the two pays somebody and never charges them, and that is unrecoverable. A crash after this leaves a reserved balance and a pending claim, which is recoverable by looking at the chain. Send the same idempotencyKey to retry safely.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxClaimResponse, Integer, Hash)>] CreateCbxClaimResponse data, response status code and response headers
    def create_cbx_claim_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_claim ...'
      end
      # resource path
      local_var_path = '/v1/cbx/claims'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxClaimResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_claim",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_claim\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # What a claim would cost, without committing to it.
    # Every fee at cost, so a confirm screen can show the breakdown before the user agrees. The network fee is passed through at actual cost and includes the one-time account rent when the recipient has no token account yet — that rent is a recoverable deposit on an account the USER owns, not a fee we keep.
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxClaimQuoteResponse]
    def create_cbx_claim_quote(opts = {})
      data, _status_code, _headers = create_cbx_claim_quote_with_http_info(opts)
      data
    end

    # What a claim would cost, without committing to it.
    # Every fee at cost, so a confirm screen can show the breakdown before the user agrees. The network fee is passed through at actual cost and includes the one-time account rent when the recipient has no token account yet — that rent is a recoverable deposit on an account the USER owns, not a fee we keep.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxClaimQuoteResponse, Integer, Hash)>] CreateCbxClaimQuoteResponse data, response status code and response headers
    def create_cbx_claim_quote_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_claim_quote ...'
      end
      # resource path
      local_var_path = '/v1/cbx/claims/quote'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxClaimQuoteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_claim_quote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_claim_quote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a reserved claim on chain.
    # Re-checks every precondition rather than trusting the reservation: the delegation may have been revoked, the fee payer may have run dry, the address may have been flagged since. A response of `unconfirmed` means the transfer may have landed but confirmation was not observed — do NOT retry it, it needs reconciliation against the chain first.
    # @param claim_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxClaimSendResponse]
    def create_cbx_claim_send(claim_id, opts = {})
      data, _status_code, _headers = create_cbx_claim_send_with_http_info(claim_id, opts)
      data
    end

    # Send a reserved claim on chain.
    # Re-checks every precondition rather than trusting the reservation: the delegation may have been revoked, the fee payer may have run dry, the address may have been flagged since. A response of &#x60;unconfirmed&#x60; means the transfer may have landed but confirmation was not observed — do NOT retry it, it needs reconciliation against the chain first.
    # @param claim_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxClaimSendResponse, Integer, Hash)>] CreateCbxClaimSendResponse data, response status code and response headers
    def create_cbx_claim_send_with_http_info(claim_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_claim_send ...'
      end
      # verify the required parameter 'claim_id' is set
      if @api_client.config.client_side_validation && claim_id.nil?
        fail ArgumentError, "Missing the required parameter 'claim_id' when calling CBXApi.create_cbx_claim_send"
      end
      # resource path
      local_var_path = '/v1/cbx/claims/{claimId}/send'.sub('{' + 'claimId' + '}', CGI.escape(claim_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxClaimSendResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_claim_send",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_claim_send\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Draw against a line, receiving grant credit.
    # The advance lands as GRANT balance: in-platform only, so it cannot be withdrawn, cannot be turned into cash and absconded with, and adds nothing to the float that could hit an order book. Restricted to wholesale channels — the limit was sized on the theory that the advance buys goods that get sold and generate the payout stream repaying it, and credit spent on a subscription does not create that stream. Refuses if the reserve has no unallocated tokens: credit is real value and cannot be advanced against tokens that do not exist. Idempotent on externalId.
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxCreditDrawResponse]
    def create_cbx_credit_draw(opts = {})
      data, _status_code, _headers = create_cbx_credit_draw_with_http_info(opts)
      data
    end

    # Draw against a line, receiving grant credit.
    # The advance lands as GRANT balance: in-platform only, so it cannot be withdrawn, cannot be turned into cash and absconded with, and adds nothing to the float that could hit an order book. Restricted to wholesale channels — the limit was sized on the theory that the advance buys goods that get sold and generate the payout stream repaying it, and credit spent on a subscription does not create that stream. Refuses if the reserve has no unallocated tokens: credit is real value and cannot be advanced against tokens that do not exist. Idempotent on externalId.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxCreditDrawResponse, Integer, Hash)>] CreateCbxCreditDrawResponse data, response status code and response headers
    def create_cbx_credit_draw_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_credit_draw ...'
      end
      # resource path
      local_var_path = '/v1/cbx/credit/draw'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxCreditDrawResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_credit_draw",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_credit_draw\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stop new draws. Leaves the drawn balance on its terms.
    # The only lever over a line, and deliberately the only one. A seller who took inventory on Tuesday keeps Tuesday's terms whatever the token does on Wednesday — the only way a credit product sits next to a volatile asset without transmitting its volatility.
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxCreditFreezeResponse]
    def create_cbx_credit_freeze(opts = {})
      data, _status_code, _headers = create_cbx_credit_freeze_with_http_info(opts)
      data
    end

    # Stop new draws. Leaves the drawn balance on its terms.
    # The only lever over a line, and deliberately the only one. A seller who took inventory on Tuesday keeps Tuesday&#39;s terms whatever the token does on Wednesday — the only way a credit product sits next to a volatile asset without transmitting its volatility.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxCreditFreezeResponse, Integer, Hash)>] CreateCbxCreditFreezeResponse data, response status code and response headers
    def create_cbx_credit_freeze_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_credit_freeze ...'
      end
      # resource path
      local_var_path = '/v1/cbx/credit/freeze'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxCreditFreezeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_credit_freeze",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_credit_freeze\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Recompute a limit from trading history and stake.
    # The earned limit is a share of trailing SETTLED payout volume — money that actually reached the seller, not listed inventory or projected sales. The stake bonus is capped at a share of that, so a seller with no history gets nothing however much they stake. A frozen line stays frozen: freezing is a credit decision somebody made, and a recompute must not quietly undo it.
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxCreditRefreshResponse]
    def create_cbx_credit_refresh(opts = {})
      data, _status_code, _headers = create_cbx_credit_refresh_with_http_info(opts)
      data
    end

    # Recompute a limit from trading history and stake.
    # The earned limit is a share of trailing SETTLED payout volume — money that actually reached the seller, not listed inventory or projected sales. The stake bonus is capped at a share of that, so a seller with no history gets nothing however much they stake. A frozen line stays frozen: freezing is a credit decision somebody made, and a recompute must not quietly undo it.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxCreditRefreshResponse, Integer, Hash)>] CreateCbxCreditRefreshResponse data, response status code and response headers
    def create_cbx_credit_refresh_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_credit_refresh ...'
      end
      # resource path
      local_var_path = '/v1/cbx/credit/refresh'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxCreditRefreshResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_credit_refresh",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_credit_refresh\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Apply a repayment to a line.
    # `treasury` scope, which looks backwards next to a draw needing only `spend` and is deliberate: a forged repayment writes off real money owed to us, while a forged draw hands out credit spendable only in our own marketplace. The scope follows the loss. Clamped to what is outstanding — a payout larger than the debt would otherwise push the balance negative and read as credit nobody underwrote.
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxCreditRepayResponse]
    def create_cbx_credit_repay(opts = {})
      data, _status_code, _headers = create_cbx_credit_repay_with_http_info(opts)
      data
    end

    # Apply a repayment to a line.
    # &#x60;treasury&#x60; scope, which looks backwards next to a draw needing only &#x60;spend&#x60; and is deliberate: a forged repayment writes off real money owed to us, while a forged draw hands out credit spendable only in our own marketplace. The scope follows the loss. Clamped to what is outstanding — a payout larger than the debt would otherwise push the balance negative and read as credit nobody underwrote.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxCreditRepayResponse, Integer, Hash)>] CreateCbxCreditRepayResponse data, response status code and response headers
    def create_cbx_credit_repay_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_credit_repay ...'
      end
      # resource path
      local_var_path = '/v1/cbx/credit/repay'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxCreditRepayResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_credit_repay",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_credit_repay\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fire a distribution when the events pool crosses a threshold.
    # Applies to the EVENTS POOL only — never free reserve surplus. Reserve surplus is the recirculation buffer that funds the next accrual without touching the market, so distributing it would force us to buy the same tokens back at spread plus MEV. `checkCadenceHours` bounds how often the rule may fire even when the pool is over the line: a pure threshold fires at an unpredictable moment, and the pool jumps most after a lapse sweep — precisely when engagement was worst. `distributeBps` is capped under 100% because draining the pool removes the standing balance that makes the next event credible. The rule decides WHEN only: firing opens a campaign that still needs preview, approval and execution. Metrics: accruals_count, accrued_cents, spend_count, spend_base_units.
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxDisbursementRuleResponse]
    def create_cbx_disbursement_rule(opts = {})
      data, _status_code, _headers = create_cbx_disbursement_rule_with_http_info(opts)
      data
    end

    # Fire a distribution when the events pool crosses a threshold.
    # Applies to the EVENTS POOL only — never free reserve surplus. Reserve surplus is the recirculation buffer that funds the next accrual without touching the market, so distributing it would force us to buy the same tokens back at spread plus MEV. &#x60;checkCadenceHours&#x60; bounds how often the rule may fire even when the pool is over the line: a pure threshold fires at an unpredictable moment, and the pool jumps most after a lapse sweep — precisely when engagement was worst. &#x60;distributeBps&#x60; is capped under 100% because draining the pool removes the standing balance that makes the next event credible. The rule decides WHEN only: firing opens a campaign that still needs preview, approval and execution. Metrics: accruals_count, accrued_cents, spend_count, spend_base_units.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxDisbursementRuleResponse, Integer, Hash)>] CreateCbxDisbursementRuleResponse data, response status code and response headers
    def create_cbx_disbursement_rule_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_disbursement_rule ...'
      end
      # resource path
      local_var_path = '/v1/cbx/disbursement-rules'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxDisbursementRuleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_disbursement_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_disbursement_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enable or disable a rule.
    # @param rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxDisbursementRuleActiveResponse]
    def create_cbx_disbursement_rule_active(rule_id, opts = {})
      data, _status_code, _headers = create_cbx_disbursement_rule_active_with_http_info(rule_id, opts)
      data
    end

    # Enable or disable a rule.
    # @param rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxDisbursementRuleActiveResponse, Integer, Hash)>] CreateCbxDisbursementRuleActiveResponse data, response status code and response headers
    def create_cbx_disbursement_rule_active_with_http_info(rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_disbursement_rule_active ...'
      end
      # verify the required parameter 'rule_id' is set
      if @api_client.config.client_side_validation && rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'rule_id' when calling CBXApi.create_cbx_disbursement_rule_active"
      end
      # resource path
      local_var_path = '/v1/cbx/disbursement-rules/{ruleId}/active'.sub('{' + 'ruleId' + '}', CGI.escape(rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxDisbursementRuleActiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_disbursement_rule_active",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_disbursement_rule_active\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Evaluate a rule now. Fires it if every gate passes.
    # Gates in order: cadence, threshold, coverage. `outcome` names the one that stopped it — every evaluation is recorded including the declines, because \"why didn't the event happen\" is the question people ask and the answer is always a check that ran and said no. A missing or stale treasury snapshot declines on `coverage`: unknown coverage is not healthy coverage. Send dryRun to evaluate without opening a campaign or writing anything.
    # @param rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxDisbursementRuleCheckResponse]
    def create_cbx_disbursement_rule_check(rule_id, opts = {})
      data, _status_code, _headers = create_cbx_disbursement_rule_check_with_http_info(rule_id, opts)
      data
    end

    # Evaluate a rule now. Fires it if every gate passes.
    # Gates in order: cadence, threshold, coverage. &#x60;outcome&#x60; names the one that stopped it — every evaluation is recorded including the declines, because \&quot;why didn&#39;t the event happen\&quot; is the question people ask and the answer is always a check that ran and said no. A missing or stale treasury snapshot declines on &#x60;coverage&#x60;: unknown coverage is not healthy coverage. Send dryRun to evaluate without opening a campaign or writing anything.
    # @param rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxDisbursementRuleCheckResponse, Integer, Hash)>] CreateCbxDisbursementRuleCheckResponse data, response status code and response headers
    def create_cbx_disbursement_rule_check_with_http_info(rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_disbursement_rule_check ...'
      end
      # verify the required parameter 'rule_id' is set
      if @api_client.config.client_side_validation && rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'rule_id' when calling CBXApi.create_cbx_disbursement_rule_check"
      end
      # resource path
      local_var_path = '/v1/cbx/disbursement-rules/{ruleId}/check'.sub('{' + 'ruleId' + '}', CGI.escape(rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxDisbursementRuleCheckResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_disbursement_rule_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_disbursement_rule_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Define an earn term.
    # Setting `isDefault` moves the default off whatever held it — exactly one active default per merchant is enforced by a unique index, because two would make \"what rate did this user get\" depend on row order.
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxEarnTierResponse]
    def create_cbx_earn_tier(opts = {})
      data, _status_code, _headers = create_cbx_earn_tier_with_http_info(opts)
      data
    end

    # Define an earn term.
    # Setting &#x60;isDefault&#x60; moves the default off whatever held it — exactly one active default per merchant is enforced by a unique index, because two would make \&quot;what rate did this user get\&quot; depend on row order.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxEarnTierResponse, Integer, Hash)>] CreateCbxEarnTierResponse data, response status code and response headers
    def create_cbx_earn_tier_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_earn_tier ...'
      end
      # resource path
      local_var_path = '/v1/cbx/earn-tiers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxEarnTierResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_earn_tier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_earn_tier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # What would this order earn, and why.
    # Resolve the rate without accruing anything, so a checkout can show the real number and its reason. `source` tells you whether it came from your base rate, a tier, or a boost; `stakeBoostBps` is the part the user's own stake contributed. Quoting does NOT reserve boost budget — a quote and the subsequent accrual can differ if the budget runs out in between, which is why the accrual response repeats the rate it actually granted.
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxRateQuoteResponse]
    def create_cbx_rate_quote(opts = {})
      data, _status_code, _headers = create_cbx_rate_quote_with_http_info(opts)
      data
    end

    # What would this order earn, and why.
    # Resolve the rate without accruing anything, so a checkout can show the real number and its reason. &#x60;source&#x60; tells you whether it came from your base rate, a tier, or a boost; &#x60;stakeBoostBps&#x60; is the part the user&#39;s own stake contributed. Quoting does NOT reserve boost budget — a quote and the subsequent accrual can differ if the budget runs out in between, which is why the accrual response repeats the rate it actually granted.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxRateQuoteResponse, Integer, Hash)>] CreateCbxRateQuoteResponse data, response status code and response headers
    def create_cbx_rate_quote_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_rate_quote ...'
      end
      # resource path
      local_var_path = '/v1/cbx/rates/quote'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxRateQuoteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_rate_quote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_rate_quote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pay for a service in CBX.
    # Idempotent on (serviceKind, externalId) rather than externalId alone: a grading submission and a listing boost can legitimately share an id because they refer to the same item, and without the service in the key, boosting a listing you had already graded would return the grading receipt and never charge for the boost. Staked tokens cannot pay — the debit checks spendable balance, not total.
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxRedemptionResponse]
    def create_cbx_redemption(opts = {})
      data, _status_code, _headers = create_cbx_redemption_with_http_info(opts)
      data
    end

    # Pay for a service in CBX.
    # Idempotent on (serviceKind, externalId) rather than externalId alone: a grading submission and a listing boost can legitimately share an id because they refer to the same item, and without the service in the key, boosting a listing you had already graded would return the grading receipt and never charge for the boost. Staked tokens cannot pay — the debit checks spendable balance, not total.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxRedemptionResponse, Integer, Hash)>] CreateCbxRedemptionResponse data, response status code and response headers
    def create_cbx_redemption_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_redemption ...'
      end
      # resource path
      local_var_path = '/v1/cbx/redemptions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxRedemptionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_redemption",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_redemption\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # What a service costs in tokens right now.
    # Refuses with 409 when there is no fresh price. A dollar-priced service has no honest token quantity without a spot, and there is no safe direction to guess in — a guess either overcharges the user or undercharges us.
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxRedemptionQuoteResponse]
    def create_cbx_redemption_quote(opts = {})
      data, _status_code, _headers = create_cbx_redemption_quote_with_http_info(opts)
      data
    end

    # What a service costs in tokens right now.
    # Refuses with 409 when there is no fresh price. A dollar-priced service has no honest token quantity without a spot, and there is no safe direction to guess in — a guess either overcharges the user or undercharges us.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxRedemptionQuoteResponse, Integer, Hash)>] CreateCbxRedemptionQuoteResponse data, response status code and response headers
    def create_cbx_redemption_quote_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_redemption_quote ...'
      end
      # resource path
      local_var_path = '/v1/cbx/redemptions/quote'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxRedemptionQuoteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_redemption_quote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_redemption_quote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Move accrued revenue from the reserve to your revenue wallet.
    # Computes what is genuinely free — reserve minus outstanding balances, minus claims in flight, minus the pool, minus unswept revenue — and moves at most that. If the reserve is short it moves NOTHING, whatever the ledger says: an under-covered reserve is not a reason to stop paying users, it is a reason to stop paying yourself. Send dryRun to see the arithmetic without moving tokens.
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxRevenueSweepResponse]
    def create_cbx_revenue_sweep(opts = {})
      data, _status_code, _headers = create_cbx_revenue_sweep_with_http_info(opts)
      data
    end

    # Move accrued revenue from the reserve to your revenue wallet.
    # Computes what is genuinely free — reserve minus outstanding balances, minus claims in flight, minus the pool, minus unswept revenue — and moves at most that. If the reserve is short it moves NOTHING, whatever the ledger says: an under-covered reserve is not a reason to stop paying users, it is a reason to stop paying yourself. Send dryRun to see the arithmetic without moving tokens.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxRevenueSweepResponse, Integer, Hash)>] CreateCbxRevenueSweepResponse data, response status code and response headers
    def create_cbx_revenue_sweep_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_revenue_sweep ...'
      end
      # resource path
      local_var_path = '/v1/cbx/revenue/sweep'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxRevenueSweepResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_revenue_sweep",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_revenue_sweep\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Redeem a user's CBX against an order.
    # Debits the user exactly what they spent — the skim is never added on top, because making CBX worth less when used than when sold would invert the whole reason to spend rather than liquidate. The skim comes out of YOUR fee on the order and is capped against it, so an order paid entirely in saved-up CBX does not have its whole margin eaten. Idempotent on externalId: a retried checkout returns the original spend rather than debiting twice. Spending is always free and has no minimum — that asymmetry against the withdrawal fee is what steers toward spending without ever telling anyone they cannot have their money.
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxSpendResponse]
    def create_cbx_spend(opts = {})
      data, _status_code, _headers = create_cbx_spend_with_http_info(opts)
      data
    end

    # Redeem a user&#39;s CBX against an order.
    # Debits the user exactly what they spent — the skim is never added on top, because making CBX worth less when used than when sold would invert the whole reason to spend rather than liquidate. The skim comes out of YOUR fee on the order and is capped against it, so an order paid entirely in saved-up CBX does not have its whole margin eaten. Idempotent on externalId: a retried checkout returns the original spend rather than debiting twice. Spending is always free and has no minimum — that asymmetry against the withdrawal fee is what steers toward spending without ever telling anyone they cannot have their money.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxSpendResponse, Integer, Hash)>] CreateCbxSpendResponse data, response status code and response headers
    def create_cbx_spend_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_spend ...'
      end
      # resource path
      local_var_path = '/v1/cbx/spends'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxSpendResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_spend",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_spend\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Refund a spend — give the tokens back and claw the skim back.
    # Returns the user's tokens AND reverses the skim out of both the community pool and operator revenue. All three move together: returning the tokens while the pool and operator kept their shares would count the same tokens twice against one reserve. The spend also stops counting as activity for campaign weighting, so buy-then-refund cannot farm distributions.
    # @param external_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxSpendReverseResponse]
    def create_cbx_spend_reverse(external_id, opts = {})
      data, _status_code, _headers = create_cbx_spend_reverse_with_http_info(external_id, opts)
      data
    end

    # Refund a spend — give the tokens back and claw the skim back.
    # Returns the user&#39;s tokens AND reverses the skim out of both the community pool and operator revenue. All three move together: returning the tokens while the pool and operator kept their shares would count the same tokens twice against one reserve. The spend also stops counting as activity for campaign weighting, so buy-then-refund cannot farm distributions.
    # @param external_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxSpendReverseResponse, Integer, Hash)>] CreateCbxSpendReverseResponse data, response status code and response headers
    def create_cbx_spend_reverse_with_http_info(external_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_spend_reverse ...'
      end
      # verify the required parameter 'external_id' is set
      if @api_client.config.client_side_validation && external_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_id' when calling CBXApi.create_cbx_spend_reverse"
      end
      # resource path
      local_var_path = '/v1/cbx/spends/{externalId}/reverse'.sub('{' + 'externalId' + '}', CGI.escape(external_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxSpendReverseResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_spend_reverse",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_spend_reverse\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Define a staking tier.
    # A user gets the highest tier their amount clears. `cooldownDays` is what makes the discount real: without a wait, a user stakes for the discount and unstakes the moment they want to withdraw, so the commitment it was priced against never existed.
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxStakeTierResponse]
    def create_cbx_stake_tier(opts = {})
      data, _status_code, _headers = create_cbx_stake_tier_with_http_info(opts)
      data
    end

    # Define a staking tier.
    # A user gets the highest tier their amount clears. &#x60;cooldownDays&#x60; is what makes the discount real: without a wait, a user stakes for the discount and unstakes the moment they want to withdraw, so the commitment it was priced against never existed.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxStakeTierResponse, Integer, Hash)>] CreateCbxStakeTierResponse data, response status code and response headers
    def create_cbx_stake_tier_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_stake_tier ...'
      end
      # resource path
      local_var_path = '/v1/cbx/stake-tiers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxStakeTierResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_stake_tier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_stake_tier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Map one of your user ids to a CBX subject.
    # Idempotent. Call it whenever you need a subject id; repeated calls with the same externalUserId return the same subject. Your user ids are opaque to us and unique only within your merchant, so two marketplaces can both have a user \"1\" without collision.
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxSubjectResponse]
    def create_cbx_subject(opts = {})
      data, _status_code, _headers = create_cbx_subject_with_http_info(opts)
      data
    end

    # Map one of your user ids to a CBX subject.
    # Idempotent. Call it whenever you need a subject id; repeated calls with the same externalUserId return the same subject. Your user ids are opaque to us and unique only within your merchant, so two marketplaces can both have a user \&quot;1\&quot; without collision.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxSubjectResponse, Integer, Hash)>] CreateCbxSubjectResponse data, response status code and response headers
    def create_cbx_subject_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_subject ...'
      end
      # resource path
      local_var_path = '/v1/cbx/subjects'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxSubjectResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_subject",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_subject\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Issue grant credit — in-platform, non-withdrawable.
    # Requires a funding `batchId` for every kind except `grant_makegood`. Grant credit is spendable at merchants who receive real value, so the tokens have to exist — the same rule earned balance obeys. A makegood is exempt because compensating somebody for our failure must not be blocked on treasury state. There is no path that converts a grant to earned balance or pays it to an address, and the database enforces that rather than a comment.
    # @param subject_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxSubjectGrantResponse]
    def create_cbx_subject_grant(subject_id, opts = {})
      data, _status_code, _headers = create_cbx_subject_grant_with_http_info(subject_id, opts)
      data
    end

    # Issue grant credit — in-platform, non-withdrawable.
    # Requires a funding &#x60;batchId&#x60; for every kind except &#x60;grant_makegood&#x60;. Grant credit is spendable at merchants who receive real value, so the tokens have to exist — the same rule earned balance obeys. A makegood is exempt because compensating somebody for our failure must not be blocked on treasury state. There is no path that converts a grant to earned balance or pays it to an address, and the database enforces that rather than a comment.
    # @param subject_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxSubjectGrantResponse, Integer, Hash)>] CreateCbxSubjectGrantResponse data, response status code and response headers
    def create_cbx_subject_grant_with_http_info(subject_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_subject_grant ...'
      end
      # verify the required parameter 'subject_id' is set
      if @api_client.config.client_side_validation && subject_id.nil?
        fail ArgumentError, "Missing the required parameter 'subject_id' when calling CBXApi.create_cbx_subject_grant"
      end
      # resource path
      local_var_path = '/v1/cbx/subjects/{subjectId}/grants'.sub('{' + 'subjectId' + '}', CGI.escape(subject_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxSubjectGrantResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_subject_grant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_subject_grant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Which balances would pay for a spend, and in what order.
    # The order is granted → earned → connected and you do not get to choose it. Granted first is a security property, not a preference: if earned spent first, a subject holding both would spend their withdrawable balance down while their non-withdrawable grant sat untouched — converting a grant into a withdrawable balance one purchase at a time. Returns a `shortfallBaseUnits` rather than failing, so a checkout can charge the remainder to a card. Send excludeConnected on a flow that cannot wait for an on-chain transfer.
    # @param subject_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxSubjectSpendPlanResponse]
    def create_cbx_subject_spend_plan(subject_id, opts = {})
      data, _status_code, _headers = create_cbx_subject_spend_plan_with_http_info(subject_id, opts)
      data
    end

    # Which balances would pay for a spend, and in what order.
    # The order is granted → earned → connected and you do not get to choose it. Granted first is a security property, not a preference: if earned spent first, a subject holding both would spend their withdrawable balance down while their non-withdrawable grant sat untouched — converting a grant into a withdrawable balance one purchase at a time. Returns a &#x60;shortfallBaseUnits&#x60; rather than failing, so a checkout can charge the remainder to a card. Send excludeConnected on a flow that cannot wait for an on-chain transfer.
    # @param subject_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxSubjectSpendPlanResponse, Integer, Hash)>] CreateCbxSubjectSpendPlanResponse data, response status code and response headers
    def create_cbx_subject_spend_plan_with_http_info(subject_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_subject_spend_plan ...'
      end
      # verify the required parameter 'subject_id' is set
      if @api_client.config.client_side_validation && subject_id.nil?
        fail ArgumentError, "Missing the required parameter 'subject_id' when calling CBXApi.create_cbx_subject_spend_plan"
      end
      # resource path
      local_var_path = '/v1/cbx/subjects/{subjectId}/spend-plan'.sub('{' + 'subjectId' + '}', CGI.escape(subject_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCbxSubjectSpendPlanResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CBXApi.create_cbx_subject_spend_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CBXApi#create_cbx_subject_spend_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lock a subject's tokens for a tier.
    # Refuses an amount that clears no tier — locking tokens for no benefit is never what somebody meant to do. One stake per subject: to change the amount, unstake and wait out the cooldown first.
    # @param subject_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCbxSubjectStakeResponse]
    def create_cbx_subject_stake(subject_id, opts = {})
      data, _status_code, _headers = create_cbx_subject_stake_with_http_info(subject_id, opts)
      data
    end

    # Lock a subject&#39;s tokens for a tier.
    # Refuses an amount that clears no tier — locking tokens for no benefit is never what somebody meant to do. One stake per subject: to change the amount, unstake and wait out the cooldown first.
    # @param subject_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCbxSubjectStakeResponse, Integer, Hash)>] CreateCbxSubjectStakeResponse data, response status code and response headers
    def create_cbx_subject_stake_with_http_info(subject_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CBXApi.create_cbx_subject_stake ...'
      end
      # verify the required parameter 'subject_id' is set
      if @api_client.config.client_side_validation && subject_id.nil?
        fail ArgumentError, "Missing the required parameter 'subject_id' when calling CBXApi.create_cbx_subject_stake"
      end
      # resource path
      local_var_path = '/v1/cbx/subjects/{subjectId}/stake'.sub('{' + 'subjectId' + '}', CGI.escape(subject_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

[...]
