=begin
#Crossly Seller API

#The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module Crossly
  class CompWatchlistsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a sold-comp watchlist.
    # @param [Hash] opts the optional parameters
    # @return [CreateCompWatchlistResponse]
    def create_comp_watchlist(opts = {})
      data, _status_code, _headers = create_comp_watchlist_with_http_info(opts)
      data
    end

    # Create a sold-comp watchlist.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCompWatchlistResponse, Integer, Hash)>] CreateCompWatchlistResponse data, response status code and response headers
    def create_comp_watchlist_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompWatchlistsApi.create_comp_watchlist ...'
      end
      # resource path
      local_var_path = '/v1/comp-watchlists'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCompWatchlistResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CompWatchlistsApi.create_comp_watchlist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompWatchlistsApi#create_comp_watchlist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Manually trigger a watchlist scrape.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCompWatchlistScrapeResponse]
    def create_comp_watchlist_scrape(id, opts = {})
      data, _status_code, _headers = create_comp_watchlist_scrape_with_http_info(id, opts)
      data
    end

    # Manually trigger a watchlist scrape.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCompWatchlistScrapeResponse, Integer, Hash)>] CreateCompWatchlistScrapeResponse data, response status code and response headers
    def create_comp_watchlist_scrape_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompWatchlistsApi.create_comp_watchlist_scrape ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CompWatchlistsApi.create_comp_watchlist_scrape"
      end
      # resource path
      local_var_path = '/v1/comp-watchlists/{id}/scrape'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCompWatchlistScrapeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CompWatchlistsApi.create_comp_watchlist_scrape",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompWatchlistsApi#create_comp_watchlist_scrape\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a sold-comp watchlist.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteCompWatchlistResponse]
    def delete_comp_watchlist(id, opts = {})
      data, _status_code, _headers = delete_comp_watchlist_with_http_info(id, opts)
      data
    end

    # Delete a sold-comp watchlist.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteCompWatchlistResponse, Integer, Hash)>] DeleteCompWatchlistResponse data, response status code and response headers
    def delete_comp_watchlist_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompWatchlistsApi.delete_comp_watchlist ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CompWatchlistsApi.delete_comp_watchlist"
      end
      # resource path
      local_var_path = '/v1/comp-watchlists/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteCompWatchlistResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CompWatchlistsApi.delete_comp_watchlist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompWatchlistsApi#delete_comp_watchlist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Recent external sold comps matching this watchlist.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_comp_watchlist_recent(id, opts = {})
      data, _status_code, _headers = list_comp_watchlist_recent_with_http_info(id, opts)
      data
    end

    # Recent external sold comps matching this watchlist.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_comp_watchlist_recent_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompWatchlistsApi.list_comp_watchlist_recent ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CompWatchlistsApi.list_comp_watchlist_recent"
      end
      # resource path
      local_var_path = '/v1/comp-watchlists/{id}/recent'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CompWatchlistsApi.list_comp_watchlist_recent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompWatchlistsApi#list_comp_watchlist_recent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the seller's sold-comp watchlists.
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_comp_watchlists(opts = {})
      data, _status_code, _headers = list_comp_watchlists_with_http_info(opts)
      data
    end

    # List the seller&#39;s sold-comp watchlists.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_comp_watchlists_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompWatchlistsApi.list_comp_watchlists ...'
      end
      # resource path
      local_var_path = '/v1/comp-watchlists'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"CompWatchlistsApi.list_comp_watchlists",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompWatchlistsApi#list_comp_watchlists\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
