=begin
#Crossly Seller API

#The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module Crossly
  class EmbedsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Mint a publishable key for a site.
    # @param inline_object3 [InlineObject3] 
    # @param [Hash] opts the optional parameters
    # @return [CreateEmbedKeyResponse]
    def create_embed_key(inline_object3, opts = {})
      data, _status_code, _headers = create_embed_key_with_http_info(inline_object3, opts)
      data
    end

    # Mint a publishable key for a site.
    # @param inline_object3 [InlineObject3] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateEmbedKeyResponse, Integer, Hash)>] CreateEmbedKeyResponse data, response status code and response headers
    def create_embed_key_with_http_info(inline_object3, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmbedsApi.create_embed_key ...'
      end
      # verify the required parameter 'inline_object3' is set
      if @api_client.config.client_side_validation && inline_object3.nil?
        fail ArgumentError, "Missing the required parameter 'inline_object3' when calling EmbedsApi.create_embed_key"
      end
      # resource path
      local_var_path = '/v1/embeds/keys'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(inline_object3)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEmbedKeyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"EmbedsApi.create_embed_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmbedsApi#create_embed_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a publishable key.
    # Takes effect immediately. Any site still using it will show an empty catalog, so replace the key in the page before revoking the old one.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_embed_key(id, opts = {})
      delete_embed_key_with_http_info(id, opts)
      nil
    end

    # Revoke a publishable key.
    # Takes effect immediately. Any site still using it will show an empty catalog, so replace the key in the page before revoking the old one.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_embed_key_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmbedsApi.delete_embed_key ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EmbedsApi.delete_embed_key"
      end
      # resource path
      local_var_path = '/v1/embeds/keys/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"EmbedsApi.delete_embed_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmbedsApi#delete_embed_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Your publishable keys.
    # Publishable keys are safe to put in a public web page — they can read your own active listings and start a checkout, and nothing else. The key is shown in full because it is not a secret.
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_embed_keys(opts = {})
      data, _status_code, _headers = list_embed_keys_with_http_info(opts)
      data
    end

    # Your publishable keys.
    # Publishable keys are safe to put in a public web page — they can read your own active listings and start a checkout, and nothing else. The key is shown in full because it is not a secret.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_embed_keys_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmbedsApi.list_embed_keys ...'
      end
      # resource path
      local_var_path = '/v1/embeds/keys'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"EmbedsApi.list_embed_keys",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmbedsApi#list_embed_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
