=begin
#Crossly Seller API

#The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module Crossly
  class InboxApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # AI reply suggestion for a conversation.
    # @param [Hash] opts the optional parameters
    # @return [CreateInboxAiSuggestResponse]
    def create_inbox_ai_suggest(opts = {})
      data, _status_code, _headers = create_inbox_ai_suggest_with_http_info(opts)
      data
    end

    # AI reply suggestion for a conversation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInboxAiSuggestResponse, Integer, Hash)>] CreateInboxAiSuggestResponse data, response status code and response headers
    def create_inbox_ai_suggest_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxApi.create_inbox_ai_suggest ...'
      end
      # resource path
      local_var_path = '/v1/inbox/ai-suggest'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateInboxAiSuggestResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InboxApi.create_inbox_ai_suggest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxApi#create_inbox_ai_suggest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a canned response.
    # @param [Hash] opts the optional parameters
    # @return [CreateInboxCannedResponsResponse]
    def create_inbox_canned_respons(opts = {})
      data, _status_code, _headers = create_inbox_canned_respons_with_http_info(opts)
      data
    end

    # Create a canned response.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInboxCannedResponsResponse, Integer, Hash)>] CreateInboxCannedResponsResponse data, response status code and response headers
    def create_inbox_canned_respons_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxApi.create_inbox_canned_respons ...'
      end
      # resource path
      local_var_path = '/v1/inbox/canned-responses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateInboxCannedResponsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InboxApi.create_inbox_canned_respons",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxApi#create_inbox_canned_respons\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk mark read / mark unread / soft-delete conversations.
    # @param [Hash] opts the optional parameters
    # @return [CreateInboxConversationBulkResponse]
    def create_inbox_conversation_bulk(opts = {})
      data, _status_code, _headers = create_inbox_conversation_bulk_with_http_info(opts)
      data
    end

    # Bulk mark read / mark unread / soft-delete conversations.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInboxConversationBulkResponse, Integer, Hash)>] CreateInboxConversationBulkResponse data, response status code and response headers
    def create_inbox_conversation_bulk_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxApi.create_inbox_conversation_bulk ...'
      end
      # resource path
      local_var_path = '/v1/inbox/conversations/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateInboxConversationBulkResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InboxApi.create_inbox_conversation_bulk",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxApi#create_inbox_conversation_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AI reply suggestion for multiple conversations — draft or send.
    # @param [Hash] opts the optional parameters
    # @return [CreateInboxConversationBulkAiRespondResponse]
    def create_inbox_conversation_bulk_ai_respond(opts = {})
      data, _status_code, _headers = create_inbox_conversation_bulk_ai_respond_with_http_info(opts)
      data
    end

    # AI reply suggestion for multiple conversations — draft or send.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInboxConversationBulkAiRespondResponse, Integer, Hash)>] CreateInboxConversationBulkAiRespondResponse data, response status code and response headers
    def create_inbox_conversation_bulk_ai_respond_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxApi.create_inbox_conversation_bulk_ai_respond ...'
      end
      # resource path
      local_var_path = '/v1/inbox/conversations/bulk-ai-respond'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateInboxConversationBulkAiRespondResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InboxApi.create_inbox_conversation_bulk_ai_respond",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxApi#create_inbox_conversation_bulk_ai_respond\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Accept / counter / decline an active offer on a conversation.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateInboxConversationOfferActionResponse]
    def create_inbox_conversation_offer_action(id, opts = {})
      data, _status_code, _headers = create_inbox_conversation_offer_action_with_http_info(id, opts)
      data
    end

    # Accept / counter / decline an active offer on a conversation.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInboxConversationOfferActionResponse, Integer, Hash)>] CreateInboxConversationOfferActionResponse data, response status code and response headers
    def create_inbox_conversation_offer_action_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxApi.create_inbox_conversation_offer_action ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InboxApi.create_inbox_conversation_offer_action"
      end
      # resource path
      local_var_path = '/v1/inbox/conversations/{id}/offer-action'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateInboxConversationOfferActionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InboxApi.create_inbox_conversation_offer_action",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxApi#create_inbox_conversation_offer_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Manually re-triage a buyer message.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateInboxMessageTriageResponse]
    def create_inbox_message_triage(id, opts = {})
      data, _status_code, _headers = create_inbox_message_triage_with_http_info(id, opts)
      data
    end

    # Manually re-triage a buyer message.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInboxMessageTriageResponse, Integer, Hash)>] CreateInboxMessageTriageResponse data, response status code and response headers
    def create_inbox_message_triage_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxApi.create_inbox_message_triage ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InboxApi.create_inbox_message_triage"
      end
      # resource path
      local_var_path = '/v1/inbox/messages/{id}/triage'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateInboxMessageTriageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InboxApi.create_inbox_message_triage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxApi#create_inbox_message_triage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Accept, counter, or decline an offer on a conversation.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateInboxOfferResponse]
    def create_inbox_offer(id, opts = {})
      data, _status_code, _headers = create_inbox_offer_with_http_info(id, opts)
      data
    end

    # Accept, counter, or decline an offer on a conversation.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInboxOfferResponse, Integer, Hash)>] CreateInboxOfferResponse data, response status code and response headers
    def create_inbox_offer_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxApi.create_inbox_offer ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InboxApi.create_inbox_offer"
      end
      # resource path
      local_var_path = '/v1/inbox/{id}/offer'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateInboxOfferResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InboxApi.create_inbox_offer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxApi#create_inbox_offer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a reply to a conversation thread.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateInboxReplyResponse]
    def create_inbox_reply(id, opts = {})
      data, _status_code, _headers = create_inbox_reply_with_http_info(id, opts)
      data
    end

    # Send a reply to a conversation thread.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInboxReplyResponse, Integer, Hash)>] CreateInboxReplyResponse data, response status code and response headers
    def create_inbox_reply_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxApi.create_inbox_reply ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InboxApi.create_inbox_reply"
      end
      # resource path
      local_var_path = '/v1/inbox/{id}/reply'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateInboxReplyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InboxApi.create_inbox_reply",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxApi#create_inbox_reply\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a canned response.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteInboxCannedResponsResponse]
    def delete_inbox_canned_respons(id, opts = {})
      data, _status_code, _headers = delete_inbox_canned_respons_with_http_info(id, opts)
      data
    end

    # Delete a canned response.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteInboxCannedResponsResponse, Integer, Hash)>] DeleteInboxCannedResponsResponse data, response status code and response headers
    def delete_inbox_canned_respons_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxApi.delete_inbox_canned_respons ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InboxApi.delete_inbox_canned_respons"
      end
      # resource path
      local_var_path = '/v1/inbox/canned-responses/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteInboxCannedResponsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InboxApi.delete_inbox_canned_respons",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxApi#delete_inbox_canned_respons\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get one conversation with its messages.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetInboxResponse]
    def get_inbox(id, opts = {})
      data, _status_code, _headers = get_inbox_with_http_info(id, opts)
      data
    end

    # Get one conversation with its messages.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetInboxResponse, Integer, Hash)>] GetInboxResponse data, response status code and response headers
    def get_inbox_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxApi.get_inbox ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InboxApi.get_inbox"
      end
      # resource path
      local_var_path = '/v1/inbox/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInboxResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InboxApi.get_inbox",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxApi#get_inbox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List canned responses.
    # @param [Hash] opts the optional parameters
    # @return [GetInboxCannedResponsResponse]
    def get_inbox_canned_respons(opts = {})
      data, _status_code, _headers = get_inbox_canned_respons_with_http_info(opts)
      data
    end

    # List canned responses.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetInboxCannedResponsResponse, Integer, Hash)>] GetInboxCannedResponsResponse data, response status code and response headers
    def get_inbox_canned_respons_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxApi.get_inbox_canned_respons ...'
      end
      # resource path
      local_var_path = '/v1/inbox/canned-responses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInboxCannedResponsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InboxApi.get_inbox_canned_respons",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxApi#get_inbox_canned_respons\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Paginated messages for a conversation.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetInboxConversationMessageResponse]
    def get_inbox_conversation_message(id, opts = {})
      data, _status_code, _headers = get_inbox_conversation_message_with_http_info(id, opts)
      data
    end

    # Paginated messages for a conversation.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetInboxConversationMessageResponse, Integer, Hash)>] GetInboxConversationMessageResponse data, response status code and response headers
    def get_inbox_conversation_message_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxApi.get_inbox_conversation_message ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InboxApi.get_inbox_conversation_message"
      end
      # resource path
      local_var_path = '/v1/inbox/conversations/{id}/messages'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInboxConversationMessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InboxApi.get_inbox_conversation_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxApi#get_inbox_conversation_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sidebar badge: unread conversation count.
    # @param [Hash] opts the optional parameters
    # @return [GetInboxConversationUnreadCountResponse]
    def get_inbox_conversation_unread_count(opts = {})
      data, _status_code, _headers = get_inbox_conversation_unread_count_with_http_info(opts)
      data
    end

    # Sidebar badge: unread conversation count.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetInboxConversationUnreadCountResponse, Integer, Hash)>] GetInboxConversationUnreadCountResponse data, response status code and response headers
    def get_inbox_conversation_unread_count_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxApi.get_inbox_conversation_unread_count ...'
      end
      # resource path
      local_var_path = '/v1/inbox/conversations/unread-count'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInboxConversationUnreadCountResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InboxApi.get_inbox_conversation_unread_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxApi#get_inbox_conversation_unread_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List conversations.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 25)
    # @return [V1List]
    def list_inbox(opts = {})
      data, _status_code, _headers = list_inbox_with_http_info(opts)
      data
    end

    # List conversations.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :limit 
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_inbox_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxApi.list_inbox ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling InboxApi.list_inbox, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling InboxApi.list_inbox, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling InboxApi.list_inbox, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/inbox'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InboxApi.list_inbox",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxApi#list_inbox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a canned response.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateInboxCannedResponsResponse]
    def update_inbox_canned_respons(id, opts = {})
      data, _status_code, _headers = update_inbox_canned_respons_with_http_info(id, opts)
      data
    end

    # Update a canned response.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateInboxCannedResponsResponse, Integer, Hash)>] UpdateInboxCannedResponsResponse data, response status code and response headers
    def update_inbox_canned_respons_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxApi.update_inbox_canned_respons ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InboxApi.update_inbox_canned_respons"
      end
      # resource path
      local_var_path = '/v1/inbox/canned-responses/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateInboxCannedResponsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InboxApi.update_inbox_canned_respons",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxApi#update_inbox_canned_respons\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark read / change status / close conversation.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateInboxConversationResponse]
    def update_inbox_conversation(id, opts = {})
      data, _status_code, _headers = update_inbox_conversation_with_http_info(id, opts)
      data
    end

    # Mark read / change status / close conversation.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateInboxConversationResponse, Integer, Hash)>] UpdateInboxConversationResponse data, response status code and response headers
    def update_inbox_conversation_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxApi.update_inbox_conversation ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InboxApi.update_inbox_conversation"
      end
      # resource path
      local_var_path = '/v1/inbox/conversations/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateInboxConversationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InboxApi.update_inbox_conversation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxApi#update_inbox_conversation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
