=begin
#Crossly Seller API

#The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module Crossly
  class InventoryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new inventory item.
    # @param [Hash] opts the optional parameters
    # @return [CreateInventoryResponse]
    def create_inventory(opts = {})
      data, _status_code, _headers = create_inventory_with_http_info(opts)
      data
    end

    # Create a new inventory item.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInventoryResponse, Integer, Hash)>] CreateInventoryResponse data, response status code and response headers
    def create_inventory_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.create_inventory ...'
      end
      # resource path
      local_var_path = '/v1/inventory'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateInventoryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.create_inventory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#create_inventory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk archive inventory items (soft).
    # @param [Hash] opts the optional parameters
    # @return [CreateInventoryBulkArchiveResponse]
    def create_inventory_bulk_archive(opts = {})
      data, _status_code, _headers = create_inventory_bulk_archive_with_http_info(opts)
      data
    end

    # Bulk archive inventory items (soft).
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInventoryBulkArchiveResponse, Integer, Hash)>] CreateInventoryBulkArchiveResponse data, response status code and response headers
    def create_inventory_bulk_archive_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.create_inventory_bulk_archive ...'
      end
      # resource path
      local_var_path = '/v1/inventory/bulk-archive'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateInventoryBulkArchiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.create_inventory_bulk_archive",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#create_inventory_bulk_archive\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk delete inventory items (delinks listings).
    # @param [Hash] opts the optional parameters
    # @return [CreateInventoryBulkDeleteResponse]
    def create_inventory_bulk_delete(opts = {})
      data, _status_code, _headers = create_inventory_bulk_delete_with_http_info(opts)
      data
    end

    # Bulk delete inventory items (delinks listings).
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInventoryBulkDeleteResponse, Integer, Hash)>] CreateInventoryBulkDeleteResponse data, response status code and response headers
    def create_inventory_bulk_delete_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.create_inventory_bulk_delete ...'
      end
      # resource path
      local_var_path = '/v1/inventory/bulk-delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateInventoryBulkDeleteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.create_inventory_bulk_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#create_inventory_bulk_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk add/remove labels on inventory items.
    # @param [Hash] opts the optional parameters
    # @return [CreateInventoryBulkLabelResponse]
    def create_inventory_bulk_label(opts = {})
      data, _status_code, _headers = create_inventory_bulk_label_with_http_info(opts)
      data
    end

    # Bulk add/remove labels on inventory items.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInventoryBulkLabelResponse, Integer, Hash)>] CreateInventoryBulkLabelResponse data, response status code and response headers
    def create_inventory_bulk_label_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.create_inventory_bulk_label ...'
      end
      # resource path
      local_var_path = '/v1/inventory/bulk-labels'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateInventoryBulkLabelResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.create_inventory_bulk_label",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#create_inventory_bulk_label\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set / add / subtract stock across many items, syncing live listings.
    # @param [Hash] opts the optional parameters
    # @return [CreateInventoryBulkQuantityResponse]
    def create_inventory_bulk_quantity(opts = {})
      data, _status_code, _headers = create_inventory_bulk_quantity_with_http_info(opts)
      data
    end

    # Set / add / subtract stock across many items, syncing live listings.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInventoryBulkQuantityResponse, Integer, Hash)>] CreateInventoryBulkQuantityResponse data, response status code and response headers
    def create_inventory_bulk_quantity_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.create_inventory_bulk_quantity ...'
      end
      # resource path
      local_var_path = '/v1/inventory/bulk-quantity'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateInventoryBulkQuantityResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.create_inventory_bulk_quantity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#create_inventory_bulk_quantity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Export inventory as CSV. Round-trips back through csv/import.
    # @param [Hash] opts the optional parameters
    # @return [String]
    def create_inventory_csv_export(opts = {})
      data, _status_code, _headers = create_inventory_csv_export_with_http_info(opts)
      data
    end

    # Export inventory as CSV. Round-trips back through csv/import.
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def create_inventory_csv_export_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.create_inventory_csv_export ...'
      end
      # resource path
      local_var_path = '/v1/inventory/csv/export'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.create_inventory_csv_export",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#create_inventory_csv_export\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Import a CSV. Rows whose sku matches an existing item update it; others are added. Pass dryRun to preview.
    # @param [Hash] opts the optional parameters
    # @return [CreateInventoryCsvImportResponse]
    def create_inventory_csv_import(opts = {})
      data, _status_code, _headers = create_inventory_csv_import_with_http_info(opts)
      data
    end

    # Import a CSV. Rows whose sku matches an existing item update it; others are added. Pass dryRun to preview.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInventoryCsvImportResponse, Integer, Hash)>] CreateInventoryCsvImportResponse data, response status code and response headers
    def create_inventory_csv_import_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.create_inventory_csv_import ...'
      end
      # resource path
      local_var_path = '/v1/inventory/csv/import'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateInventoryCsvImportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.create_inventory_csv_import",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#create_inventory_csv_import\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rename a label across every inventory item.
    # @param [Hash] opts the optional parameters
    # @return [CreateInventoryLabelRenameResponse]
    def create_inventory_label_rename(opts = {})
      data, _status_code, _headers = create_inventory_label_rename_with_http_info(opts)
      data
    end

    # Rename a label across every inventory item.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInventoryLabelRenameResponse, Integer, Hash)>] CreateInventoryLabelRenameResponse data, response status code and response headers
    def create_inventory_label_rename_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.create_inventory_label_rename ...'
      end
      # resource path
      local_var_path = '/v1/inventory/labels/rename'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateInventoryLabelRenameResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.create_inventory_label_rename",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#create_inventory_label_rename\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Record a serial, IMEI, or licence key against an inventory item.
    # Creates the unit lazily if no `unitId` is given. Recording BEFORE the item sells is what makes the identifier usable as evidence on a return — one first recorded after a dispute opens is graded `weak` and says so.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateInventoryUnitIdentifierResponse]
    def create_inventory_unit_identifier(id, opts = {})
      data, _status_code, _headers = create_inventory_unit_identifier_with_http_info(id, opts)
      data
    end

    # Record a serial, IMEI, or licence key against an inventory item.
    # Creates the unit lazily if no &#x60;unitId&#x60; is given. Recording BEFORE the item sells is what makes the identifier usable as evidence on a return — one first recorded after a dispute opens is graded &#x60;weak&#x60; and says so.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInventoryUnitIdentifierResponse, Integer, Hash)>] CreateInventoryUnitIdentifierResponse data, response status code and response headers
    def create_inventory_unit_identifier_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.create_inventory_unit_identifier ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InventoryApi.create_inventory_unit_identifier"
      end
      # resource path
      local_var_path = '/v1/inventory/{id}/units/identifiers'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateInventoryUnitIdentifierResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.create_inventory_unit_identifier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#create_inventory_unit_identifier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Find a unit by identifier.
    # \"Have I ever seen this serial?\" — for when something arrives back and nobody knows which order it belongs to. Scoped to the caller, so it can never be used to probe another seller's stock.
    # @param [Hash] opts the optional parameters
    # @return [CreateInventoryUnitLookupResponse]
    def create_inventory_unit_lookup(opts = {})
      data, _status_code, _headers = create_inventory_unit_lookup_with_http_info(opts)
      data
    end

    # Find a unit by identifier.
    # \&quot;Have I ever seen this serial?\&quot; — for when something arrives back and nobody knows which order it belongs to. Scoped to the caller, so it can never be used to probe another seller&#39;s stock.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInventoryUnitLookupResponse, Integer, Hash)>] CreateInventoryUnitLookupResponse data, response status code and response headers
    def create_inventory_unit_lookup_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.create_inventory_unit_lookup ...'
      end
      # resource path
      local_var_path = '/v1/inventory/units/lookup'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateInventoryUnitLookupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.create_inventory_unit_lookup",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#create_inventory_unit_lookup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Soft-archive an inventory item.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteInventoryResponse]
    def delete_inventory(id, opts = {})
      data, _status_code, _headers = delete_inventory_with_http_info(id, opts)
      data
    end

    # Soft-archive an inventory item.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteInventoryResponse, Integer, Hash)>] DeleteInventoryResponse data, response status code and response headers
    def delete_inventory_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.delete_inventory ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InventoryApi.delete_inventory"
      end
      # resource path
      local_var_path = '/v1/inventory/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteInventoryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.delete_inventory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#delete_inventory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get one inventory item with platform listings.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetInventoryResponse]
    def get_inventory(id, opts = {})
      data, _status_code, _headers = get_inventory_with_http_info(id, opts)
      data
    end

    # Get one inventory item with platform listings.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetInventoryResponse, Integer, Hash)>] GetInventoryResponse data, response status code and response headers
    def get_inventory_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.get_inventory ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InventoryApi.get_inventory"
      end
      # resource path
      local_var_path = '/v1/inventory/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInventoryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.get_inventory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#get_inventory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Distinct brands + categories across this user's inventory.
    # @param [Hash] opts the optional parameters
    # @return [GetInventoryFacetResponse]
    def get_inventory_facet(opts = {})
      data, _status_code, _headers = get_inventory_facet_with_http_info(opts)
      data
    end

    # Distinct brands + categories across this user&#39;s inventory.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetInventoryFacetResponse, Integer, Hash)>] GetInventoryFacetResponse data, response status code and response headers
    def get_inventory_facet_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.get_inventory_facet ...'
      end
      # resource path
      local_var_path = '/v1/inventory/facets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInventoryFacetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.get_inventory_facet",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#get_inventory_facet\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List every distinct label across this user's inventory.
    # @param [Hash] opts the optional parameters
    # @return [GetInventoryLabelResponse]
    def get_inventory_label(opts = {})
      data, _status_code, _headers = get_inventory_label_with_http_info(opts)
      data
    end

    # List every distinct label across this user&#39;s inventory.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetInventoryLabelResponse, Integer, Hash)>] GetInventoryLabelResponse data, response status code and response headers
    def get_inventory_label_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.get_inventory_label ...'
      end
      # resource path
      local_var_path = '/v1/inventory/labels'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInventoryLabelResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.get_inventory_label",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#get_inventory_label\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List distinct labels with usage counts + colors.
    # @param [Hash] opts the optional parameters
    # @return [GetInventoryLabelStatResponse]
    def get_inventory_label_stat(opts = {})
      data, _status_code, _headers = get_inventory_label_stat_with_http_info(opts)
      data
    end

    # List distinct labels with usage counts + colors.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetInventoryLabelStatResponse, Integer, Hash)>] GetInventoryLabelStatResponse data, response status code and response headers
    def get_inventory_label_stat_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.get_inventory_label_stat ...'
      end
      # resource path
      local_var_path = '/v1/inventory/labels/stats'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInventoryLabelStatResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.get_inventory_label_stat",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#get_inventory_label_stat\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check whether a SKU is already in use on this user's inventory.
    # @param sku [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetInventorySkuExistResponse]
    def get_inventory_sku_exist(sku, opts = {})
      data, _status_code, _headers = get_inventory_sku_exist_with_http_info(sku, opts)
      data
    end

    # Check whether a SKU is already in use on this user&#39;s inventory.
    # @param sku [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetInventorySkuExistResponse, Integer, Hash)>] GetInventorySkuExistResponse data, response status code and response headers
    def get_inventory_sku_exist_with_http_info(sku, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.get_inventory_sku_exist ...'
      end
      # verify the required parameter 'sku' is set
      if @api_client.config.client_side_validation && sku.nil?
        fail ArgumentError, "Missing the required parameter 'sku' when calling InventoryApi.get_inventory_sku_exist"
      end
      # resource path
      local_var_path = '/v1/inventory/sku-exists'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sku'] = sku

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInventorySkuExistResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.get_inventory_sku_exist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#get_inventory_sku_exist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # A shared room, as a visitor sees it.
    # The room behind a share link: container geometry in METRES matching the real physical object, the solved arrangement, and one row per object on the shelves. REDACTED relative to the owner's view — no cost, no storage location, no listing status — so do not expect the fields /v1/spatial/scenes/{id} returns. Each placement carries `pinned`: true means a HUMAN put it there and it will not move; false means a layout SOLVER chose, and it may choose differently once the stock changes, so an unpinned placement is never a statement about where something physically is. `solved.overflow` lists what did not fit — a non-empty array means the room is INCOMPLETE and `stats.itemCount` exceeds what is on screen. Resolves rooms shared as `unlisted` as well as `public`: holding the link is the permission.
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetSpatialPublicResponse]
    def get_spatial_public(slug, opts = {})
      data, _status_code, _headers = get_spatial_public_with_http_info(slug, opts)
      data
    end

    # A shared room, as a visitor sees it.
    # The room behind a share link: container geometry in METRES matching the real physical object, the solved arrangement, and one row per object on the shelves. REDACTED relative to the owner&#39;s view — no cost, no storage location, no listing status — so do not expect the fields /v1/spatial/scenes/{id} returns. Each placement carries &#x60;pinned&#x60;: true means a HUMAN put it there and it will not move; false means a layout SOLVER chose, and it may choose differently once the stock changes, so an unpinned placement is never a statement about where something physically is. &#x60;solved.overflow&#x60; lists what did not fit — a non-empty array means the room is INCOMPLETE and &#x60;stats.itemCount&#x60; exceeds what is on screen. Resolves rooms shared as &#x60;unlisted&#x60; as well as &#x60;public&#x60;: holding the link is the permission.
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetSpatialPublicResponse, Integer, Hash)>] GetSpatialPublicResponse data, response status code and response headers
    def get_spatial_public_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.get_spatial_public ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling InventoryApi.get_spatial_public"
      end
      if @api_client.config.client_side_validation && slug.to_s.length > 64
        fail ArgumentError, 'invalid value for "slug" when calling InventoryApi.get_spatial_public, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && slug.to_s.length < 8
        fail ArgumentError, 'invalid value for "slug" when calling InventoryApi.get_spatial_public, the character length must be great than or equal to 8.'
      end

      # resource path
      local_var_path = '/v1/spatial/public/{slug}'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSpatialPublicResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.get_spatial_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#get_spatial_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # A solved room: every item, where it sits, and why.
    # Returns the space profile (container geometry in METRES, matching the real physical object), the solved placements, and the items. Placements carry a `pinned` flag: true means a human put it there and the layout solver will not move it; false means the solver chose, and it may choose differently once the stock changes. `overflow` lists anything that did not fit — it is reported, never silently dropped.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetSpatialSceneResponse]
    def get_spatial_scene(id, opts = {})
      data, _status_code, _headers = get_spatial_scene_with_http_info(id, opts)
      data
    end

    # A solved room: every item, where it sits, and why.
    # Returns the space profile (container geometry in METRES, matching the real physical object), the solved placements, and the items. Placements carry a &#x60;pinned&#x60; flag: true means a human put it there and the layout solver will not move it; false means the solver chose, and it may choose differently once the stock changes. &#x60;overflow&#x60; lists anything that did not fit — it is reported, never silently dropped.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetSpatialSceneResponse, Integer, Hash)>] GetSpatialSceneResponse data, response status code and response headers
    def get_spatial_scene_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.get_spatial_scene ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InventoryApi.get_spatial_scene"
      end
      # resource path
      local_var_path = '/v1/spatial/scenes/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSpatialSceneResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.get_spatial_scene",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#get_spatial_scene\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List inventory items.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :search 
    # @option opts [String] :status 
    # @return [V1List]
    def list_inventory(opts = {})
      data, _status_code, _headers = list_inventory_with_http_info(opts)
      data
    end

    # List inventory items.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :limit 
    # @option opts [String] :search 
    # @option opts [String] :status 
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_inventory_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.list_inventory ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling InventoryApi.list_inventory, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling InventoryApi.list_inventory, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling InventoryApi.list_inventory, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/inventory'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.list_inventory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#list_inventory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Activity log for an inventory item (created/sold/edited/etc.).
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @return [V1List]
    def list_inventory_activity(id, opts = {})
      data, _status_code, _headers = list_inventory_activity_with_http_info(id, opts)
      data
    end

    # Activity log for an inventory item (created/sold/edited/etc.).
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_inventory_activity_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.list_inventory_activity ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InventoryApi.list_inventory_activity"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling InventoryApi.list_inventory_activity, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling InventoryApi.list_inventory_activity, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/inventory/{id}/activity'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.list_inventory_activity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#list_inventory_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Filter inventory → return matching id list.
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_inventory_ids(opts = {})
      data, _status_code, _headers = list_inventory_ids_with_http_info(opts)
      data
    end

    # Filter inventory → return matching id list.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_inventory_ids_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.list_inventory_ids ...'
      end
      # resource path
      local_var_path = '/v1/inventory/ids'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.list_inventory_ids",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#list_inventory_ids\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the individually identified units of an inventory item.
    # Each identifier carries a `strength` describing what it proves: `strong` was recorded before the item sold, `good` at packing, `weak` only after it shipped. The grade is derived from when it was recorded, never from the value itself.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_inventory_units(id, opts = {})
      data, _status_code, _headers = list_inventory_units_with_http_info(id, opts)
      data
    end

    # List the individually identified units of an inventory item.
    # Each identifier carries a &#x60;strength&#x60; describing what it proves: &#x60;strong&#x60; was recorded before the item sold, &#x60;good&#x60; at packing, &#x60;weak&#x60; only after it shipped. The grade is derived from when it was recorded, never from the value itself.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_inventory_units_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.list_inventory_units ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InventoryApi.list_inventory_units"
      end
      # resource path
      local_var_path = '/v1/inventory/{id}/units'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.list_inventory_units",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#list_inventory_units\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Public rooms anyone can walk into.
    # The directory behind world-hopping. A room becomes public when its owner shares it; this lists those, newest first, with enough to draw a doorway AND enough to choose one — name, slug, category, itemCount, up to four previewImages, forSaleCount, a priceFromCents/priceToCents band and updatedAt. The band is the cheapest and dearest thing for sale in the room, never a quote for one object: /api/public/spatial/{slug}/offers is the authority on that. Fetch the room itself from /api/public/spatial/{slug}. Rooms with no items are omitted: an empty room is not a destination.
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_spatial_public(opts = {})
      data, _status_code, _headers = list_spatial_public_with_http_info(opts)
      data
    end

    # Public rooms anyone can walk into.
    # The directory behind world-hopping. A room becomes public when its owner shares it; this lists those, newest first, with enough to draw a doorway AND enough to choose one — name, slug, category, itemCount, up to four previewImages, forSaleCount, a priceFromCents/priceToCents band and updatedAt. The band is the cheapest and dearest thing for sale in the room, never a quote for one object: /api/public/spatial/{slug}/offers is the authority on that. Fetch the room itself from /api/public/spatial/{slug}. Rooms with no items are omitted: an empty room is not a destination.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_spatial_public_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.list_spatial_public ...'
      end
      # resource path
      local_var_path = '/v1/spatial/public'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.list_spatial_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#list_spatial_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # What is for sale in a shared room.
    # Price, stock, condition and grade for everything in the room its owner is actually selling. Correlate to the room by `itemId`, which is the SAME id the scene payload publishes per item — never by title. An item in the room with no row here is not for sale; an empty array means the owner is showing the collection rather than selling it, which is a different answer from a 404 (no such shared room). SEPARATE CALL ON PURPOSE: the room's geometry is stable for minutes, a price is not — it changes whenever the seller edits a listing. Re-read this before quoting, and do not cache a price alongside a cached room. `priceCents` is CENTS. `available` is remaining stock, or null when the listing declares none; null is unknown, not zero. Where an item sits inside more than one active listing, the offer quoted is the one for that item alone rather than a bundle it belongs to.
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_spatial_public_offers(slug, opts = {})
      data, _status_code, _headers = list_spatial_public_offers_with_http_info(slug, opts)
      data
    end

    # What is for sale in a shared room.
    # Price, stock, condition and grade for everything in the room its owner is actually selling. Correlate to the room by &#x60;itemId&#x60;, which is the SAME id the scene payload publishes per item — never by title. An item in the room with no row here is not for sale; an empty array means the owner is showing the collection rather than selling it, which is a different answer from a 404 (no such shared room). SEPARATE CALL ON PURPOSE: the room&#39;s geometry is stable for minutes, a price is not — it changes whenever the seller edits a listing. Re-read this before quoting, and do not cache a price alongside a cached room. &#x60;priceCents&#x60; is CENTS. &#x60;available&#x60; is remaining stock, or null when the listing declares none; null is unknown, not zero. Where an item sits inside more than one active listing, the offer quoted is the one for that item alone rather than a bundle it belongs to.
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_spatial_public_offers_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.list_spatial_public_offers ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling InventoryApi.list_spatial_public_offers"
      end
      if @api_client.config.client_side_validation && slug.to_s.length > 64
        fail ArgumentError, 'invalid value for "slug" when calling InventoryApi.list_spatial_public_offers, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && slug.to_s.length < 8
        fail ArgumentError, 'invalid value for "slug" when calling InventoryApi.list_spatial_public_offers, the character length must be great than or equal to 8.'
      end

      # resource path
      local_var_path = '/v1/spatial/public/{slug}/offers'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.list_spatial_public_offers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#list_spatial_public_offers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stock movements in a room over a time window.
    # One row per physical transition: which item, from which node, to which node, when, and of what kind (placed/moved/picked/shipped/received/removed). Nodes are referenced by id; the `fromCode`/`toCode` strings are display snapshots of the location code AT THE TIME and are not stable identifiers — correlate on the node ids. `since`/`until` are ISO timestamps, defaulting to the last seven days and clamped to 90. Movements are NOT attributed to individual team members on this surface: a token has no team role, so there is no honest way to decide whether its holder may see who did the work.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_spatial_scene_movements(id, opts = {})
      data, _status_code, _headers = list_spatial_scene_movements_with_http_info(id, opts)
      data
    end

    # Stock movements in a room over a time window.
    # One row per physical transition: which item, from which node, to which node, when, and of what kind (placed/moved/picked/shipped/received/removed). Nodes are referenced by id; the &#x60;fromCode&#x60;/&#x60;toCode&#x60; strings are display snapshots of the location code AT THE TIME and are not stable identifiers — correlate on the node ids. &#x60;since&#x60;/&#x60;until&#x60; are ISO timestamps, defaulting to the last seven days and clamped to 90. Movements are NOT attributed to individual team members on this surface: a token has no team role, so there is no honest way to decide whether its holder may see who did the work.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_spatial_scene_movements_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.list_spatial_scene_movements ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InventoryApi.list_spatial_scene_movements"
      end
      # resource path
      local_var_path = '/v1/spatial/scenes/{id}/movements'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.list_spatial_scene_movements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#list_spatial_scene_movements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The rooms this account has.
    # One per market category the seller holds catalog-resolved stock in, plus a warehouse. Rooms are created on first read rather than requiring setup, so this call is safe to treat as the entry point.
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_spatial_scenes(opts = {})
      data, _status_code, _headers = list_spatial_scenes_with_http_info(opts)
      data
    end

    # The rooms this account has.
    # One per market category the seller holds catalog-resolved stock in, plus a warehouse. Rooms are created on first read rather than requiring setup, so this call is safe to treat as the entry point.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_spatial_scenes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.list_spatial_scenes ...'
      end
      # resource path
      local_var_path = '/v1/spatial/scenes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.list_spatial_scenes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#list_spatial_scenes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an inventory item (partial).
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateInventoryResponse]
    def update_inventory(id, opts = {})
      data, _status_code, _headers = update_inventory_with_http_info(id, opts)
      data
    end

    # Update an inventory item (partial).
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateInventoryResponse, Integer, Hash)>] UpdateInventoryResponse data, response status code and response headers
    def update_inventory_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.update_inventory ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InventoryApi.update_inventory"
      end
      # resource path
      local_var_path = '/v1/inventory/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateInventoryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"InventoryApi.update_inventory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#update_inventory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
