=begin
#Crossly Seller API

#The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module Crossly
  class ListingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a listing and fan out crosspost jobs across platforms.
    # @param [Hash] opts the optional parameters
    # @return [CreateListingResponse]
    def create_listing(opts = {})
      data, _status_code, _headers = create_listing_with_http_info(opts)
      data
    end

    # Create a listing and fan out crosspost jobs across platforms.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateListingResponse, Integer, Hash)>] CreateListingResponse data, response status code and response headers
    def create_listing_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.create_listing ...'
      end
      # resource path
      local_var_path = '/v1/listings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateListingResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.create_listing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#create_listing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check listing status on platforms
    # @param [Hash] opts the optional parameters
    # @return [CreateListingBulkCheckStatusResponse]
    def create_listing_bulk_check_status(opts = {})
      data, _status_code, _headers = create_listing_bulk_check_status_with_http_info(opts)
      data
    end

    # Check listing status on platforms
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateListingBulkCheckStatusResponse, Integer, Hash)>] CreateListingBulkCheckStatusResponse data, response status code and response headers
    def create_listing_bulk_check_status_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.create_listing_bulk_check_status ...'
      end
      # resource path
      local_var_path = '/v1/listings/bulk-check-status'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateListingBulkCheckStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.create_listing_bulk_check_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#create_listing_bulk_check_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk crosspost (no delist phase)
    # @param [Hash] opts the optional parameters
    # @return [CreateListingBulkCrosspostResponse]
    def create_listing_bulk_crosspost(opts = {})
      data, _status_code, _headers = create_listing_bulk_crosspost_with_http_info(opts)
      data
    end

    # Bulk crosspost (no delist phase)
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateListingBulkCrosspostResponse, Integer, Hash)>] CreateListingBulkCrosspostResponse data, response status code and response headers
    def create_listing_bulk_crosspost_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.create_listing_bulk_crosspost ...'
      end
      # resource path
      local_var_path = '/v1/listings/bulk-crosspost'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateListingBulkCrosspostResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.create_listing_bulk_crosspost",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#create_listing_bulk_crosspost\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk archive + delist
    # @param [Hash] opts the optional parameters
    # @return [CreateListingBulkDeleteResponse]
    def create_listing_bulk_delete(opts = {})
      data, _status_code, _headers = create_listing_bulk_delete_with_http_info(opts)
      data
    end

    # Bulk archive + delist
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateListingBulkDeleteResponse, Integer, Hash)>] CreateListingBulkDeleteResponse data, response status code and response headers
    def create_listing_bulk_delete_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.create_listing_bulk_delete ...'
      end
      # resource path
      local_var_path = '/v1/listings/bulk-delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateListingBulkDeleteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.create_listing_bulk_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#create_listing_bulk_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk delist from platforms
    # @param [Hash] opts the optional parameters
    # @return [CreateListingBulkDelistResponse]
    def create_listing_bulk_delist(opts = {})
      data, _status_code, _headers = create_listing_bulk_delist_with_http_info(opts)
      data
    end

    # Bulk delist from platforms
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateListingBulkDelistResponse, Integer, Hash)>] CreateListingBulkDelistResponse data, response status code and response headers
    def create_listing_bulk_delist_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.create_listing_bulk_delist ...'
      end
      # resource path
      local_var_path = '/v1/listings/bulk-delist'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateListingBulkDelistResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.create_listing_bulk_delist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#create_listing_bulk_delist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Preview which marketplaces a delist would touch
    # @param [Hash] opts the optional parameters
    # @return [CreateListingBulkDelistPreviewResponse]
    def create_listing_bulk_delist_preview(opts = {})
      data, _status_code, _headers = create_listing_bulk_delist_preview_with_http_info(opts)
      data
    end

    # Preview which marketplaces a delist would touch
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateListingBulkDelistPreviewResponse, Integer, Hash)>] CreateListingBulkDelistPreviewResponse data, response status code and response headers
    def create_listing_bulk_delist_preview_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.create_listing_bulk_delist_preview ...'
      end
      # resource path
      local_var_path = '/v1/listings/bulk-delist-preview'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateListingBulkDelistPreviewResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.create_listing_bulk_delist_preview",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#create_listing_bulk_delist_preview\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Permanently delete archived listings
    # @param [Hash] opts the optional parameters
    # @return [CreateListingBulkHardDeleteResponse]
    def create_listing_bulk_hard_delete(opts = {})
      data, _status_code, _headers = create_listing_bulk_hard_delete_with_http_info(opts)
      data
    end

    # Permanently delete archived listings
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateListingBulkHardDeleteResponse, Integer, Hash)>] CreateListingBulkHardDeleteResponse data, response status code and response headers
    def create_listing_bulk_hard_delete_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.create_listing_bulk_hard_delete ...'
      end
      # resource path
      local_var_path = '/v1/listings/bulk-hard-delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateListingBulkHardDeleteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.create_listing_bulk_hard_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#create_listing_bulk_hard_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk relist across platforms
    # @param [Hash] opts the optional parameters
    # @return [CreateListingBulkRelistResponse]
    def create_listing_bulk_relist(opts = {})
      data, _status_code, _headers = create_listing_bulk_relist_with_http_info(opts)
      data
    end

    # Bulk relist across platforms
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateListingBulkRelistResponse, Integer, Hash)>] CreateListingBulkRelistResponse data, response status code and response headers
    def create_listing_bulk_relist_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.create_listing_bulk_relist ...'
      end
      # resource path
      local_var_path = '/v1/listings/bulk-relist'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateListingBulkRelistResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.create_listing_bulk_relist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#create_listing_bulk_relist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk update listing fields
    # @param [Hash] opts the optional parameters
    # @return [CreateListingBulkUpdateResponse]
    def create_listing_bulk_update(opts = {})
      data, _status_code, _headers = create_listing_bulk_update_with_http_info(opts)
      data
    end

    # Bulk update listing fields
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateListingBulkUpdateResponse, Integer, Hash)>] CreateListingBulkUpdateResponse data, response status code and response headers
    def create_listing_bulk_update_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.create_listing_bulk_update ...'
      end
      # resource path
      local_var_path = '/v1/listings/bulk-update'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateListingBulkUpdateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.create_listing_bulk_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#create_listing_bulk_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch hydrated listings by ID
    # @param [Hash] opts the optional parameters
    # @return [CreateListingByIdResponse]
    def create_listing_by_id(opts = {})
      data, _status_code, _headers = create_listing_by_id_with_http_info(opts)
      data
    end

    # Fetch hydrated listings by ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateListingByIdResponse, Integer, Hash)>] CreateListingByIdResponse data, response status code and response headers
    def create_listing_by_id_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.create_listing_by_id ...'
      end
      # resource path
      local_var_path = '/v1/listings/by-ids'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateListingByIdResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.create_listing_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#create_listing_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check whether the seller already owns something matching this title/photo, and what to do about it.
    # @param [Hash] opts the optional parameters
    # @return [CreateListingCheckDuplicateResponse]
    def create_listing_check_duplicate(opts = {})
      data, _status_code, _headers = create_listing_check_duplicate_with_http_info(opts)
      data
    end

    # Check whether the seller already owns something matching this title/photo, and what to do about it.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateListingCheckDuplicateResponse, Integer, Hash)>] CreateListingCheckDuplicateResponse data, response status code and response headers
    def create_listing_check_duplicate_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.create_listing_check_duplicate ...'
      end
      # resource path
      local_var_path = '/v1/listings/check-duplicates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateListingCheckDuplicateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.create_listing_check_duplicate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#create_listing_check_duplicate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Combine duplicate listings into one: sums their stock, delists and archives the rest.
    # @param [Hash] opts the optional parameters
    # @return [CreateListingCombineResponse]
    def create_listing_combine(opts = {})
      data, _status_code, _headers = create_listing_combine_with_http_info(opts)
      data
    end

    # Combine duplicate listings into one: sums their stock, delists and archives the rest.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateListingCombineResponse, Integer, Hash)>] CreateListingCombineResponse data, response status code and response headers
    def create_listing_combine_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.create_listing_combine ...'
      end
      # resource path
      local_var_path = '/v1/listings/combine'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateListingCombineResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.create_listing_combine",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#create_listing_combine\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resolve a detected marketplace-drift discrepancy: accept the platform value, push ours back, relist to apply it, or dismiss.
    # @param id [String] 
    # @param discrepancy_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateListingDiscrepancyResolveResponse]
    def create_listing_discrepancy_resolve(id, discrepancy_id, opts = {})
      data, _status_code, _headers = create_listing_discrepancy_resolve_with_http_info(id, discrepancy_id, opts)
      data
    end

    # Resolve a detected marketplace-drift discrepancy: accept the platform value, push ours back, relist to apply it, or dismiss.
    # @param id [String] 
    # @param discrepancy_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateListingDiscrepancyResolveResponse, Integer, Hash)>] CreateListingDiscrepancyResolveResponse data, response status code and response headers
    def create_listing_discrepancy_resolve_with_http_info(id, discrepancy_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.create_listing_discrepancy_resolve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ListingsApi.create_listing_discrepancy_resolve"
      end
      # verify the required parameter 'discrepancy_id' is set
      if @api_client.config.client_side_validation && discrepancy_id.nil?
        fail ArgumentError, "Missing the required parameter 'discrepancy_id' when calling ListingsApi.create_listing_discrepancy_resolve"
      end
      # resource path
      local_var_path = '/v1/listings/{id}/discrepancies/{discrepancyId}/resolve'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'discrepancyId' + '}', CGI.escape(discrepancy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateListingDiscrepancyResolveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.create_listing_discrepancy_resolve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#create_listing_discrepancy_resolve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Attach a real platform listing to this listing by pasting its live URL.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateListingImportByUrlResponse]
    def create_listing_import_by_url(id, opts = {})
      data, _status_code, _headers = create_listing_import_by_url_with_http_info(id, opts)
      data
    end

    # Attach a real platform listing to this listing by pasting its live URL.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateListingImportByUrlResponse, Integer, Hash)>] CreateListingImportByUrlResponse data, response status code and response headers
    def create_listing_import_by_url_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.create_listing_import_by_url ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ListingsApi.create_listing_import_by_url"
      end
      # resource path
      local_var_path = '/v1/listings/{id}/import-by-url'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateListingImportByUrlResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.create_listing_import_by_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#create_listing_import_by_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Auto-fill empty fields on one platform tab from the master listing + AI/deterministic taxonomy resolution.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateListingMagicFillResponse]
    def create_listing_magic_fill(id, opts = {})
      data, _status_code, _headers = create_listing_magic_fill_with_http_info(id, opts)
      data
    end

    # Auto-fill empty fields on one platform tab from the master listing + AI/deterministic taxonomy resolution.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateListingMagicFillResponse, Integer, Hash)>] CreateListingMagicFillResponse data, response status code and response headers
    def create_listing_magic_fill_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.create_listing_magic_fill ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ListingsApi.create_listing_magic_fill"
      end
      # resource path
      local_var_path = '/v1/listings/{id}/magic-fill'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateListingMagicFillResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.create_listing_magic_fill",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#create_listing_magic_fill\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delist a listing (optionally narrowed to specific platforms via ?platforms=).
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platforms Comma-separated platform slugs to limit the delist fan-out.
    # @return [DeleteListingResponse]
    def delete_listing(id, opts = {})
      data, _status_code, _headers = delete_listing_with_http_info(id, opts)
      data
    end

    # Delist a listing (optionally narrowed to specific platforms via ?platforms&#x3D;).
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platforms Comma-separated platform slugs to limit the delist fan-out.
    # @return [Array<(DeleteListingResponse, Integer, Hash)>] DeleteListingResponse data, response status code and response headers
    def delete_listing_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.delete_listing ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ListingsApi.delete_listing"
      end
      # resource path
      local_var_path = '/v1/listings/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'platforms'] = opts[:'platforms'] if !opts[:'platforms'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteListingResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.delete_listing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#delete_listing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get one listing with its platform rows.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetListingResponse]
    def get_listing(id, opts = {})
      data, _status_code, _headers = get_listing_with_http_info(id, opts)
      data
    end

    # Get one listing with its platform rows.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetListingResponse, Integer, Hash)>] GetListingResponse data, response status code and response headers
    def get_listing_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.get_listing ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ListingsApi.get_listing"
      end
      # resource path
      local_var_path = '/v1/listings/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetListingResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.get_listing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#get_listing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Distinct brands + categories across listings + inventory.
    # @param [Hash] opts the optional parameters
    # @return [GetListingFacetResponse]
    def get_listing_facet(opts = {})
      data, _status_code, _headers = get_listing_facet_with_http_info(opts)
      data
    end

    # Distinct brands + categories across listings + inventory.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetListingFacetResponse, Integer, Hash)>] GetListingFacetResponse data, response status code and response headers
    def get_listing_facet_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.get_listing_facet ...'
      end
      # resource path
      local_var_path = '/v1/listings/facets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetListingFacetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.get_listing_facet",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#get_listing_facet\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check whether a SKU is already used by one of this user's items.
    # @param sku [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetListingSkuExistResponse]
    def get_listing_sku_exist(sku, opts = {})
      data, _status_code, _headers = get_listing_sku_exist_with_http_info(sku, opts)
      data
    end

    # Check whether a SKU is already used by one of this user&#39;s items.
    # @param sku [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetListingSkuExistResponse, Integer, Hash)>] GetListingSkuExistResponse data, response status code and response headers
    def get_listing_sku_exist_with_http_info(sku, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.get_listing_sku_exist ...'
      end
      # verify the required parameter 'sku' is set
      if @api_client.config.client_side_validation && sku.nil?
        fail ArgumentError, "Missing the required parameter 'sku' when calling ListingsApi.get_listing_sku_exist"
      end
      # resource path
      local_var_path = '/v1/listings/sku-exists'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sku'] = sku

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetListingSkuExistResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.get_listing_sku_exist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#get_listing_sku_exist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List detected marketplace-drift discrepancies for a listing.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_listing_discrepancies(id, opts = {})
      data, _status_code, _headers = list_listing_discrepancies_with_http_info(id, opts)
      data
    end

    # List detected marketplace-drift discrepancies for a listing.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_listing_discrepancies_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.list_listing_discrepancies ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ListingsApi.list_listing_discrepancies"
      end
      # resource path
      local_var_path = '/v1/listings/{id}/discrepancies'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.list_listing_discrepancies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#list_listing_discrepancies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Filter listings → return matching id list (no pagination).
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_listing_ids(opts = {})
      data, _status_code, _headers = list_listing_ids_with_http_info(opts)
      data
    end

    # Filter listings → return matching id list (no pagination).
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_listing_ids_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.list_listing_ids ...'
      end
      # resource path
      local_var_path = '/v1/listings/ids'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.list_listing_ids",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#list_listing_ids\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List active platform listings.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :platform 
    # @option opts [String] :status 
    # @return [V1List]
    def list_listings(opts = {})
      data, _status_code, _headers = list_listings_with_http_info(opts)
      data
    end

    # List active platform listings.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :limit 
    # @option opts [String] :platform 
    # @option opts [String] :status 
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_listings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.list_listings ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ListingsApi.list_listings, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ListingsApi.list_listings, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ListingsApi.list_listings, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/listings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.list_listings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#list_listings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit a listing and fan out update jobs to existing platform listings.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateListingResponse]
    def update_listing(id, opts = {})
      data, _status_code, _headers = update_listing_with_http_info(id, opts)
      data
    end

    # Edit a listing and fan out update jobs to existing platform listings.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateListingResponse, Integer, Hash)>] UpdateListingResponse data, response status code and response headers
    def update_listing_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingsApi.update_listing ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ListingsApi.update_listing"
      end
      # resource path
      local_var_path = '/v1/listings/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateListingResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"ListingsApi.update_listing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingsApi#update_listing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
