=begin
#Crossly Seller API

#The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module Crossly
  class MagicApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Run a Magic List image scan.
    # @param [Hash] opts the optional parameters
    # @return [CreateMagicScanResponse]
    def create_magic_scan(opts = {})
      data, _status_code, _headers = create_magic_scan_with_http_info(opts)
      data
    end

    # Run a Magic List image scan.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateMagicScanResponse, Integer, Hash)>] CreateMagicScanResponse data, response status code and response headers
    def create_magic_scan_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MagicApi.create_magic_scan ...'
      end
      # resource path
      local_var_path = '/v1/magic/scan'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateMagicScanResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"MagicApi.create_magic_scan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MagicApi#create_magic_scan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Synthesize a draft from confirmed matches.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateMagicScanSynthesizeResponse]
    def create_magic_scan_synthesize(run_id, opts = {})
      data, _status_code, _headers = create_magic_scan_synthesize_with_http_info(run_id, opts)
      data
    end

    # Synthesize a draft from confirmed matches.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateMagicScanSynthesizeResponse, Integer, Hash)>] CreateMagicScanSynthesizeResponse data, response status code and response headers
    def create_magic_scan_synthesize_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MagicApi.create_magic_scan_synthesize ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling MagicApi.create_magic_scan_synthesize"
      end
      # resource path
      local_var_path = '/v1/magic/scan/{runId}/synthesize'.sub('{' + 'runId' + '}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateMagicScanSynthesizeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"MagicApi.create_magic_scan_synthesize",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MagicApi#create_magic_scan_synthesize\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a synthesized Magic List draft.
    # @param draft_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetMagicDraftResponse]
    def get_magic_draft(draft_id, opts = {})
      data, _status_code, _headers = get_magic_draft_with_http_info(draft_id, opts)
      data
    end

    # Get a synthesized Magic List draft.
    # @param draft_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetMagicDraftResponse, Integer, Hash)>] GetMagicDraftResponse data, response status code and response headers
    def get_magic_draft_with_http_info(draft_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MagicApi.get_magic_draft ...'
      end
      # verify the required parameter 'draft_id' is set
      if @api_client.config.client_side_validation && draft_id.nil?
        fail ArgumentError, "Missing the required parameter 'draft_id' when calling MagicApi.get_magic_draft"
      end
      # resource path
      local_var_path = '/v1/magic/drafts/{draftId}'.sub('{' + 'draftId' + '}', CGI.escape(draft_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetMagicDraftResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"MagicApi.get_magic_draft",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MagicApi#get_magic_draft\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Recent Magic List scans for this seller.
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_magic_recent(opts = {})
      data, _status_code, _headers = list_magic_recent_with_http_info(opts)
      data
    end

    # Recent Magic List scans for this seller.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_magic_recent_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MagicApi.list_magic_recent ...'
      end
      # resource path
      local_var_path = '/v1/magic/recent'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"MagicApi.list_magic_recent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MagicApi#list_magic_recent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
