=begin
#Crossly Seller API

#The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module Crossly
  class MobileApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Fire a no-op test push to this user's devices.
    # @param [Hash] opts the optional parameters
    # @return [CreateMobilePushTestResponse]
    def create_mobile_push_test(opts = {})
      data, _status_code, _headers = create_mobile_push_test_with_http_info(opts)
      data
    end

    # Fire a no-op test push to this user&#39;s devices.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateMobilePushTestResponse, Integer, Hash)>] CreateMobilePushTestResponse data, response status code and response headers
    def create_mobile_push_test_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MobileApi.create_mobile_push_test ...'
      end
      # resource path
      local_var_path = '/v1/mobile/push-test'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateMobilePushTestResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"MobileApi.create_mobile_push_test",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MobileApi#create_mobile_push_test\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register an Expo push token for this user.
    # @param [Hash] opts the optional parameters
    # @return [CreateMobilePushTokenResponse]
    def create_mobile_push_token(opts = {})
      data, _status_code, _headers = create_mobile_push_token_with_http_info(opts)
      data
    end

    # Register an Expo push token for this user.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateMobilePushTokenResponse, Integer, Hash)>] CreateMobilePushTokenResponse data, response status code and response headers
    def create_mobile_push_token_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MobileApi.create_mobile_push_token ...'
      end
      # resource path
      local_var_path = '/v1/mobile/push-token'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateMobilePushTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"MobileApi.create_mobile_push_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MobileApi#create_mobile_push_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Clear ALL registered push tokens for this user.
    # @param [Hash] opts the optional parameters
    # @return [DeleteMobilePushTokenResponse]
    def delete_mobile_push_token(opts = {})
      data, _status_code, _headers = delete_mobile_push_token_with_http_info(opts)
      data
    end

    # Clear ALL registered push tokens for this user.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteMobilePushTokenResponse, Integer, Hash)>] DeleteMobilePushTokenResponse data, response status code and response headers
    def delete_mobile_push_token_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MobileApi.delete_mobile_push_token ...'
      end
      # resource path
      local_var_path = '/v1/mobile/push-tokens'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteMobilePushTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"MobileApi.delete_mobile_push_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MobileApi#delete_mobile_push_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List registered Expo push tokens (masked).
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_mobile_push_tokens(opts = {})
      data, _status_code, _headers = list_mobile_push_tokens_with_http_info(opts)
      data
    end

    # List registered Expo push tokens (masked).
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_mobile_push_tokens_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MobileApi.list_mobile_push_tokens ...'
      end
      # resource path
      local_var_path = '/v1/mobile/push-tokens'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"MobileApi.list_mobile_push_tokens",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MobileApi#list_mobile_push_tokens\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
