=begin
#Crossly Seller API

#The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module Crossly
  class NetworkApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Join the Crossly Network reciprocal engagement pool.
    # @param [Hash] opts the optional parameters
    # @return [CreateNetworkPoolResponse]
    def create_network_pool(opts = {})
      data, _status_code, _headers = create_network_pool_with_http_info(opts)
      data
    end

    # Join the Crossly Network reciprocal engagement pool.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateNetworkPoolResponse, Integer, Hash)>] CreateNetworkPoolResponse data, response status code and response headers
    def create_network_pool_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkApi.create_network_pool ...'
      end
      # resource path
      local_var_path = '/v1/network/pool'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateNetworkPoolResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"NetworkApi.create_network_pool",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkApi#create_network_pool\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Leave the Crossly Network pool.
    # @param [Hash] opts the optional parameters
    # @return [DeleteNetworkPoolResponse]
    def delete_network_pool(opts = {})
      data, _status_code, _headers = delete_network_pool_with_http_info(opts)
      data
    end

    # Leave the Crossly Network pool.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteNetworkPoolResponse, Integer, Hash)>] DeleteNetworkPoolResponse data, response status code and response headers
    def delete_network_pool_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkApi.delete_network_pool ...'
      end
      # resource path
      local_var_path = '/v1/network/pool'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteNetworkPoolResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"NetworkApi.delete_network_pool",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkApi#delete_network_pool\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The seller's Crossly Network pool membership row.
    # @param [Hash] opts the optional parameters
    # @return [GetNetworkPoolResponse]
    def get_network_pool(opts = {})
      data, _status_code, _headers = get_network_pool_with_http_info(opts)
      data
    end

    # The seller&#39;s Crossly Network pool membership row.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetNetworkPoolResponse, Integer, Hash)>] GetNetworkPoolResponse data, response status code and response headers
    def get_network_pool_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkApi.get_network_pool ...'
      end
      # resource path
      local_var_path = '/v1/network/pool'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetNetworkPoolResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"NetworkApi.get_network_pool",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkApi#get_network_pool\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Total members in the Crossly Network pool.
    # @param [Hash] opts the optional parameters
    # @return [GetNetworkPoolSizeResponse]
    def get_network_pool_size(opts = {})
      data, _status_code, _headers = get_network_pool_size_with_http_info(opts)
      data
    end

    # Total members in the Crossly Network pool.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetNetworkPoolSizeResponse, Integer, Hash)>] GetNetworkPoolSizeResponse data, response status code and response headers
    def get_network_pool_size_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkApi.get_network_pool_size ...'
      end
      # resource path
      local_var_path = '/v1/network/pool/size'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetNetworkPoolSizeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"NetworkApi.get_network_pool_size",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkApi#get_network_pool_size\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Recent engagement history — both sent and received.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 100)
    # @return [V1List]
    def list_network_pool_log(opts = {})
      data, _status_code, _headers = list_network_pool_log_with_http_info(opts)
      data
    end

    # Recent engagement history — both sent and received.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_network_pool_log_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkApi.list_network_pool_log ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling NetworkApi.list_network_pool_log, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling NetworkApi.list_network_pool_log, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/network/pool/log'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"NetworkApi.list_network_pool_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkApi#list_network_pool_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update per-action toggles + platforms on pool membership.
    # @param [Hash] opts the optional parameters
    # @return [UpdateNetworkPoolResponse]
    def update_network_pool(opts = {})
      data, _status_code, _headers = update_network_pool_with_http_info(opts)
      data
    end

    # Update per-action toggles + platforms on pool membership.
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateNetworkPoolResponse, Integer, Hash)>] UpdateNetworkPoolResponse data, response status code and response headers
    def update_network_pool_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkApi.update_network_pool ...'
      end
      # resource path
      local_var_path = '/v1/network/pool'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateNetworkPoolResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"NetworkApi.update_network_pool",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkApi#update_network_pool\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
