=begin
#Crossly Seller API

#The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module Crossly
  class OffersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Accept, decline, or counter a buyer offer on a Crossly marketplace listing.
    # @param id [String] Offer UUID.
    # @param inline_object2 [InlineObject2] 
    # @param [Hash] opts the optional parameters
    # @return [CreateOfferRespondResponse]
    def create_offer_respond(id, inline_object2, opts = {})
      data, _status_code, _headers = create_offer_respond_with_http_info(id, inline_object2, opts)
      data
    end

    # Accept, decline, or counter a buyer offer on a Crossly marketplace listing.
    # @param id [String] Offer UUID.
    # @param inline_object2 [InlineObject2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateOfferRespondResponse, Integer, Hash)>] CreateOfferRespondResponse data, response status code and response headers
    def create_offer_respond_with_http_info(id, inline_object2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OffersApi.create_offer_respond ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OffersApi.create_offer_respond"
      end
      # verify the required parameter 'inline_object2' is set
      if @api_client.config.client_side_validation && inline_object2.nil?
        fail ArgumentError, "Missing the required parameter 'inline_object2' when calling OffersApi.create_offer_respond"
      end
      # resource path
      local_var_path = '/v1/offers/{id}/respond'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(inline_object2)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateOfferRespondResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"OffersApi.create_offer_respond",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OffersApi#create_offer_respond\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List buyer offers on your Crossly marketplace listings, including bundles.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter to one status. Omit for all.
    # @option opts [Integer] :limit  (default to 50)
    # @return [GetOfferResponse]
    def get_offer(opts = {})
      data, _status_code, _headers = get_offer_with_http_info(opts)
      data
    end

    # List buyer offers on your Crossly marketplace listings, including bundles.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter to one status. Omit for all.
    # @option opts [Integer] :limit 
    # @return [Array<(GetOfferResponse, Integer, Hash)>] GetOfferResponse data, response status code and response headers
    def get_offer_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OffersApi.get_offer ...'
      end
      allowable_values = ["pending", "accepted", "declined", "countered", "expired", "withdrawn"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling OffersApi.get_offer, must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling OffersApi.get_offer, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/offers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetOfferResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"OffersApi.get_offer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OffersApi#get_offer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
