=begin
#Crossly Seller API

#The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module Crossly
  class PATApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Mint a new PAT. Full token returned ONCE — store it on the client.
    # @param [Hash] opts the optional parameters
    # @return [CreatePatResponse]
    def create_pat(opts = {})
      data, _status_code, _headers = create_pat_with_http_info(opts)
      data
    end

    # Mint a new PAT. Full token returned ONCE — store it on the client.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePatResponse, Integer, Hash)>] CreatePatResponse data, response status code and response headers
    def create_pat_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PATApi.create_pat ...'
      end
      # resource path
      local_var_path = '/v1/pat'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePatResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"PATApi.create_pat",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PATApi#create_pat\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a PAT by id.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeletePatResponse]
    def delete_pat(id, opts = {})
      data, _status_code, _headers = delete_pat_with_http_info(id, opts)
      data
    end

    # Revoke a PAT by id.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeletePatResponse, Integer, Hash)>] DeletePatResponse data, response status code and response headers
    def delete_pat_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PATApi.delete_pat ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PATApi.delete_pat"
      end
      # resource path
      local_var_path = '/v1/pat/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeletePatResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"PATApi.delete_pat",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PATApi#delete_pat\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the canonical scope catalog.
    # @param [Hash] opts the optional parameters
    # @return [GetPatScopeResponse]
    def get_pat_scope(opts = {})
      data, _status_code, _headers = get_pat_scope_with_http_info(opts)
      data
    end

    # List the canonical scope catalog.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetPatScopeResponse, Integer, Hash)>] GetPatScopeResponse data, response status code and response headers
    def get_pat_scope_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PATApi.get_pat_scope ...'
      end
      # resource path
      local_var_path = '/v1/pat/scopes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPatScopeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"PATApi.get_pat_scope",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PATApi#get_pat_scope\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the caller's PATs (preview only).
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_pat(opts = {})
      data, _status_code, _headers = list_pat_with_http_info(opts)
      data
    end

    # List the caller&#39;s PATs (preview only).
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_pat_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PATApi.list_pat ...'
      end
      # resource path
      local_var_path = '/v1/pat'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"PATApi.list_pat",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PATApi#list_pat\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
