=begin
#Crossly Seller API

#The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module Crossly
  class PolicyPresetsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a return / shipping / payment policy preset.
    # @param [Hash] opts the optional parameters
    # @return [CreatePolicyPresetResponse]
    def create_policy_preset(opts = {})
      data, _status_code, _headers = create_policy_preset_with_http_info(opts)
      data
    end

    # Create a return / shipping / payment policy preset.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePolicyPresetResponse, Integer, Hash)>] CreatePolicyPresetResponse data, response status code and response headers
    def create_policy_preset_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyPresetsApi.create_policy_preset ...'
      end
      # resource path
      local_var_path = '/v1/policy-presets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePolicyPresetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"PolicyPresetsApi.create_policy_preset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyPresetsApi#create_policy_preset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a policy preset.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeletePolicyPresetResponse]
    def delete_policy_preset(id, opts = {})
      data, _status_code, _headers = delete_policy_preset_with_http_info(id, opts)
      data
    end

    # Delete a policy preset.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeletePolicyPresetResponse, Integer, Hash)>] DeletePolicyPresetResponse data, response status code and response headers
    def delete_policy_preset_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyPresetsApi.delete_policy_preset ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PolicyPresetsApi.delete_policy_preset"
      end
      # resource path
      local_var_path = '/v1/policy-presets/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeletePolicyPresetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"PolicyPresetsApi.delete_policy_preset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyPresetsApi#delete_policy_preset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the seller's return / shipping / payment policy presets.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :kind 
    # @return [V1List]
    def list_policy_presets(opts = {})
      data, _status_code, _headers = list_policy_presets_with_http_info(opts)
      data
    end

    # List the seller&#39;s return / shipping / payment policy presets.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :kind 
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_policy_presets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyPresetsApi.list_policy_presets ...'
      end
      allowable_values = ["return", "shipping", "payment"]
      if @api_client.config.client_side_validation && opts[:'kind'] && !allowable_values.include?(opts[:'kind'])
        fail ArgumentError, "invalid value for \"kind\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/policy-presets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'kind'] = opts[:'kind'] if !opts[:'kind'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"PolicyPresetsApi.list_policy_presets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyPresetsApi#list_policy_presets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a policy preset.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UpdatePolicyPresetResponse]
    def update_policy_preset(id, opts = {})
      data, _status_code, _headers = update_policy_preset_with_http_info(id, opts)
      data
    end

    # Update a policy preset.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdatePolicyPresetResponse, Integer, Hash)>] UpdatePolicyPresetResponse data, response status code and response headers
    def update_policy_preset_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyPresetsApi.update_policy_preset ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PolicyPresetsApi.update_policy_preset"
      end
      # resource path
      local_var_path = '/v1/policy-presets/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdatePolicyPresetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"PolicyPresetsApi.update_policy_preset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyPresetsApi#update_policy_preset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
