=begin
#Crossly Seller API

#The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module Crossly
  class RestockPromptsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Dismiss a pending restock prompt.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateRestockPromptDismissResponse]
    def create_restock_prompt_dismiss(id, opts = {})
      data, _status_code, _headers = create_restock_prompt_dismiss_with_http_info(id, opts)
      data
    end

    # Dismiss a pending restock prompt.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateRestockPromptDismissResponse, Integer, Hash)>] CreateRestockPromptDismissResponse data, response status code and response headers
    def create_restock_prompt_dismiss_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RestockPromptsApi.create_restock_prompt_dismiss ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RestockPromptsApi.create_restock_prompt_dismiss"
      end
      # resource path
      local_var_path = '/v1/restock-prompts/{id}/dismiss'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateRestockPromptDismissResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"RestockPromptsApi.create_restock_prompt_dismiss",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RestockPromptsApi#create_restock_prompt_dismiss\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Republish a restock prompt to platforms.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateRestockPromptRepublishResponse]
    def create_restock_prompt_republish(id, opts = {})
      data, _status_code, _headers = create_restock_prompt_republish_with_http_info(id, opts)
      data
    end

    # Republish a restock prompt to platforms.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateRestockPromptRepublishResponse, Integer, Hash)>] CreateRestockPromptRepublishResponse data, response status code and response headers
    def create_restock_prompt_republish_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RestockPromptsApi.create_restock_prompt_republish ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RestockPromptsApi.create_restock_prompt_republish"
      end
      # resource path
      local_var_path = '/v1/restock-prompts/{id}/republish'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateRestockPromptRepublishResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"RestockPromptsApi.create_restock_prompt_republish",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RestockPromptsApi#create_restock_prompt_republish\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List pending restock prompts.
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_restock_prompts(opts = {})
      data, _status_code, _headers = list_restock_prompts_with_http_info(opts)
      data
    end

    # List pending restock prompts.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_restock_prompts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RestockPromptsApi.list_restock_prompts ...'
      end
      # resource path
      local_var_path = '/v1/restock-prompts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"RestockPromptsApi.list_restock_prompts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RestockPromptsApi#list_restock_prompts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
