=begin
#Crossly Seller API

#The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module Crossly
  class SavedViewsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a saved view preset.
    # @param [Hash] opts the optional parameters
    # @return [CreateSavedViewResponse]
    def create_saved_view(opts = {})
      data, _status_code, _headers = create_saved_view_with_http_info(opts)
      data
    end

    # Create a saved view preset.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateSavedViewResponse, Integer, Hash)>] CreateSavedViewResponse data, response status code and response headers
    def create_saved_view_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SavedViewsApi.create_saved_view ...'
      end
      # resource path
      local_var_path = '/v1/saved-views'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSavedViewResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"SavedViewsApi.create_saved_view",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SavedViewsApi#create_saved_view\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a saved view preset.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteSavedViewResponse]
    def delete_saved_view(id, opts = {})
      data, _status_code, _headers = delete_saved_view_with_http_info(id, opts)
      data
    end

    # Delete a saved view preset.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteSavedViewResponse, Integer, Hash)>] DeleteSavedViewResponse data, response status code and response headers
    def delete_saved_view_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SavedViewsApi.delete_saved_view ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SavedViewsApi.delete_saved_view"
      end
      # resource path
      local_var_path = '/v1/saved-views/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteSavedViewResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"SavedViewsApi.delete_saved_view",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SavedViewsApi#delete_saved_view\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the seller's saved view presets.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :resource 
    # @return [V1List]
    def list_saved_views(opts = {})
      data, _status_code, _headers = list_saved_views_with_http_info(opts)
      data
    end

    # List the seller&#39;s saved view presets.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :resource 
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_saved_views_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SavedViewsApi.list_saved_views ...'
      end
      # resource path
      local_var_path = '/v1/saved-views'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'resource'] = opts[:'resource'] if !opts[:'resource'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"SavedViewsApi.list_saved_views",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SavedViewsApi#list_saved_views\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a saved view preset.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateSavedViewResponse]
    def update_saved_view(id, opts = {})
      data, _status_code, _headers = update_saved_view_with_http_info(id, opts)
      data
    end

    # Update a saved view preset.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateSavedViewResponse, Integer, Hash)>] UpdateSavedViewResponse data, response status code and response headers
    def update_saved_view_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SavedViewsApi.update_saved_view ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SavedViewsApi.update_saved_view"
      end
      # resource path
      local_var_path = '/v1/saved-views/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateSavedViewResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"SavedViewsApi.update_saved_view",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SavedViewsApi#update_saved_view\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
