=begin
#Crossly Seller API

#The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module Crossly
  class SourcingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Append a parsed receipt to the sourcing ledger.
    # @param [Hash] opts the optional parameters
    # @return [CreateSourcingReceiptResponse]
    def create_sourcing_receipt(opts = {})
      data, _status_code, _headers = create_sourcing_receipt_with_http_info(opts)
      data
    end

    # Append a parsed receipt to the sourcing ledger.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateSourcingReceiptResponse, Integer, Hash)>] CreateSourcingReceiptResponse data, response status code and response headers
    def create_sourcing_receipt_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcingApi.create_sourcing_receipt ...'
      end
      # resource path
      local_var_path = '/v1/sourcing/receipts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSourcingReceiptResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"SourcingApi.create_sourcing_receipt",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcingApi#create_sourcing_receipt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List parsed sourcing receipts in this user's ledger.
    # @param [Hash] opts the optional parameters
    # @return [GetSourcingReceiptResponse]
    def get_sourcing_receipt(opts = {})
      data, _status_code, _headers = get_sourcing_receipt_with_http_info(opts)
      data
    end

    # List parsed sourcing receipts in this user&#39;s ledger.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetSourcingReceiptResponse, Integer, Hash)>] GetSourcingReceiptResponse data, response status code and response headers
    def get_sourcing_receipt_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcingApi.get_sourcing_receipt ...'
      end
      # resource path
      local_var_path = '/v1/sourcing/receipts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSourcingReceiptResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"SourcingApi.get_sourcing_receipt",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcingApi#get_sourcing_receipt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Items buyers looked for on other sites that Crossly did not have.
    # Aggregate demand observed by the Scout extension, ranked by MISSES — the times somebody asked and we had nothing. `medianPageCents` is what the retailers were charging, which is the number to source against. Anonymous in every case; there is no per-buyer view of this.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :days  (default to 30)
    # @option opts [Integer] :min_looks  (default to 3)
    # @option opts [Integer] :limit  (default to 50)
    # @return [V1List]
    def list_sourcing_demand(opts = {})
      data, _status_code, _headers = list_sourcing_demand_with_http_info(opts)
      data
    end

    # Items buyers looked for on other sites that Crossly did not have.
    # Aggregate demand observed by the Scout extension, ranked by MISSES — the times somebody asked and we had nothing. &#x60;medianPageCents&#x60; is what the retailers were charging, which is the number to source against. Anonymous in every case; there is no per-buyer view of this.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :days 
    # @option opts [Integer] :min_looks 
    # @option opts [Integer] :limit 
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_sourcing_demand_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcingApi.list_sourcing_demand ...'
      end
      if @api_client.config.client_side_validation && !opts[:'days'].nil? && opts[:'days'] > 365
        fail ArgumentError, 'invalid value for "opts[:"days"]" when calling SourcingApi.list_sourcing_demand, must be smaller than or equal to 365.'
      end

      if @api_client.config.client_side_validation && !opts[:'days'].nil? && opts[:'days'] < 1
        fail ArgumentError, 'invalid value for "opts[:"days"]" when calling SourcingApi.list_sourcing_demand, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_looks'].nil? && opts[:'min_looks'] < 1
        fail ArgumentError, 'invalid value for "opts[:"min_looks"]" when calling SourcingApi.list_sourcing_demand, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SourcingApi.list_sourcing_demand, must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SourcingApi.list_sourcing_demand, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/sourcing/demand'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'days'] = opts[:'days'] if !opts[:'days'].nil?
      query_params[:'minLooks'] = opts[:'min_looks'] if !opts[:'min_looks'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"SourcingApi.list_sourcing_demand",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcingApi#list_sourcing_demand\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unmet buyer demand for items you hold or have sold before.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :days  (default to 60)
    # @option opts [Integer] :min_lookers  (default to 2)
    # @option opts [Integer] :limit  (default to 25)
    # @return [V1List]
    def list_sourcing_demand_mine(opts = {})
      data, _status_code, _headers = list_sourcing_demand_mine_with_http_info(opts)
      data
    end

    # Unmet buyer demand for items you hold or have sold before.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :days 
    # @option opts [Integer] :min_lookers 
    # @option opts [Integer] :limit 
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_sourcing_demand_mine_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcingApi.list_sourcing_demand_mine ...'
      end
      if @api_client.config.client_side_validation && !opts[:'days'].nil? && opts[:'days'] > 365
        fail ArgumentError, 'invalid value for "opts[:"days"]" when calling SourcingApi.list_sourcing_demand_mine, must be smaller than or equal to 365.'
      end

      if @api_client.config.client_side_validation && !opts[:'days'].nil? && opts[:'days'] < 1
        fail ArgumentError, 'invalid value for "opts[:"days"]" when calling SourcingApi.list_sourcing_demand_mine, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_lookers'].nil? && opts[:'min_lookers'] < 1
        fail ArgumentError, 'invalid value for "opts[:"min_lookers"]" when calling SourcingApi.list_sourcing_demand_mine, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SourcingApi.list_sourcing_demand_mine, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SourcingApi.list_sourcing_demand_mine, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/sourcing/demand/mine'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'days'] = opts[:'days'] if !opts[:'days'].nil?
      query_params[:'minLookers'] = opts[:'min_lookers'] if !opts[:'min_lookers'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"SourcingApi.list_sourcing_demand_mine",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcingApi#list_sourcing_demand_mine\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
