=begin
#Crossly Seller API

#The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module Crossly
  class TaxonomyApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Categories for a platform. Default is top-level; pass `?parent=<categoryId>` to drill down one level (supported on cookie platforms whose recipe returns flat parent_id-linked rows).
    # @param platform [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :parent 
    # @return [GetTaxonomyCategoryResponse]
    def get_taxonomy_category(platform, opts = {})
      data, _status_code, _headers = get_taxonomy_category_with_http_info(platform, opts)
      data
    end

    # Categories for a platform. Default is top-level; pass &#x60;?parent&#x3D;&lt;categoryId&gt;&#x60; to drill down one level (supported on cookie platforms whose recipe returns flat parent_id-linked rows).
    # @param platform [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :parent 
    # @return [Array<(GetTaxonomyCategoryResponse, Integer, Hash)>] GetTaxonomyCategoryResponse data, response status code and response headers
    def get_taxonomy_category_with_http_info(platform, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxonomyApi.get_taxonomy_category ...'
      end
      # verify the required parameter 'platform' is set
      if @api_client.config.client_side_validation && platform.nil?
        fail ArgumentError, "Missing the required parameter 'platform' when calling TaxonomyApi.get_taxonomy_category"
      end
      # resource path
      local_var_path = '/v1/taxonomy/{platform}/categories'.sub('{' + 'platform' + '}', CGI.escape(platform.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'parent'] = opts[:'parent'] if !opts[:'parent'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTaxonomyCategoryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"TaxonomyApi.get_taxonomy_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxonomyApi#get_taxonomy_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Item-specific aspects (eBay) / properties (Etsy) / hard-coded enums (cookie platforms) for a category.
    # @param platform [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetTaxonomyCategoryAspectResponse]
    def get_taxonomy_category_aspect(platform, id, opts = {})
      data, _status_code, _headers = get_taxonomy_category_aspect_with_http_info(platform, id, opts)
      data
    end

    # Item-specific aspects (eBay) / properties (Etsy) / hard-coded enums (cookie platforms) for a category.
    # @param platform [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetTaxonomyCategoryAspectResponse, Integer, Hash)>] GetTaxonomyCategoryAspectResponse data, response status code and response headers
    def get_taxonomy_category_aspect_with_http_info(platform, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxonomyApi.get_taxonomy_category_aspect ...'
      end
      # verify the required parameter 'platform' is set
      if @api_client.config.client_side_validation && platform.nil?
        fail ArgumentError, "Missing the required parameter 'platform' when calling TaxonomyApi.get_taxonomy_category_aspect"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TaxonomyApi.get_taxonomy_category_aspect"
      end
      # resource path
      local_var_path = '/v1/taxonomy/{platform}/categories/{id}/aspects'.sub('{' + 'platform' + '}', CGI.escape(platform.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTaxonomyCategoryAspectResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"TaxonomyApi.get_taxonomy_category_aspect",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxonomyApi#get_taxonomy_category_aspect\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Direct children of a category node.
    # @param platform [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetTaxonomyCategoryChildrenResponse]
    def get_taxonomy_category_children(platform, id, opts = {})
      data, _status_code, _headers = get_taxonomy_category_children_with_http_info(platform, id, opts)
      data
    end

    # Direct children of a category node.
    # @param platform [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetTaxonomyCategoryChildrenResponse, Integer, Hash)>] GetTaxonomyCategoryChildrenResponse data, response status code and response headers
    def get_taxonomy_category_children_with_http_info(platform, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxonomyApi.get_taxonomy_category_children ...'
      end
      # verify the required parameter 'platform' is set
      if @api_client.config.client_side_validation && platform.nil?
        fail ArgumentError, "Missing the required parameter 'platform' when calling TaxonomyApi.get_taxonomy_category_children"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TaxonomyApi.get_taxonomy_category_children"
      end
      # resource path
      local_var_path = '/v1/taxonomy/{platform}/categories/{id}/children'.sub('{' + 'platform' + '}', CGI.escape(platform.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTaxonomyCategoryChildrenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"TaxonomyApi.get_taxonomy_category_children",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxonomyApi#get_taxonomy_category_children\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Normalized field schema the seller needs to fill before crossposting to this platform. Combines master fields (title/description/price/condition) with platform-specific overrides.
    # @param platform [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :category_id Optional — used to inline aspects when present.
    # @return [GetTaxonomyRequiredFieldResponse]
    def get_taxonomy_required_field(platform, opts = {})
      data, _status_code, _headers = get_taxonomy_required_field_with_http_info(platform, opts)
      data
    end

    # Normalized field schema the seller needs to fill before crossposting to this platform. Combines master fields (title/description/price/condition) with platform-specific overrides.
    # @param platform [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :category_id Optional — used to inline aspects when present.
    # @return [Array<(GetTaxonomyRequiredFieldResponse, Integer, Hash)>] GetTaxonomyRequiredFieldResponse data, response status code and response headers
    def get_taxonomy_required_field_with_http_info(platform, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxonomyApi.get_taxonomy_required_field ...'
      end
      # verify the required parameter 'platform' is set
      if @api_client.config.client_side_validation && platform.nil?
        fail ArgumentError, "Missing the required parameter 'platform' when calling TaxonomyApi.get_taxonomy_required_field"
      end
      # resource path
      local_var_path = '/v1/taxonomy/{platform}/required-fields'.sub('{' + 'platform' + '}', CGI.escape(platform.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'categoryId'] = opts[:'category_id'] if !opts[:'category_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTaxonomyRequiredFieldResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"TaxonomyApi.get_taxonomy_required_field",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxonomyApi#get_taxonomy_required_field\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reverse lookup — suggest categories matching a search phrase. eBay-only today.
    # @param platform [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :q 
    # @return [V1List]
    def list_taxonomy_suggest(platform, opts = {})
      data, _status_code, _headers = list_taxonomy_suggest_with_http_info(platform, opts)
      data
    end

    # Reverse lookup — suggest categories matching a search phrase. eBay-only today.
    # @param platform [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :q 
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_taxonomy_suggest_with_http_info(platform, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxonomyApi.list_taxonomy_suggest ...'
      end
      # verify the required parameter 'platform' is set
      if @api_client.config.client_side_validation && platform.nil?
        fail ArgumentError, "Missing the required parameter 'platform' when calling TaxonomyApi.list_taxonomy_suggest"
      end
      # resource path
      local_var_path = '/v1/taxonomy/{platform}/suggest'.sub('{' + 'platform' + '}', CGI.escape(platform.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"TaxonomyApi.list_taxonomy_suggest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxonomyApi#list_taxonomy_suggest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
