=begin
#Crossly Seller API

#The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module Crossly
  class WorkflowsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a multi-step workflow chain.
    # @param [Hash] opts the optional parameters
    # @return [CreateWorkflowChainResponse]
    def create_workflow_chain(opts = {})
      data, _status_code, _headers = create_workflow_chain_with_http_info(opts)
      data
    end

    # Create a multi-step workflow chain.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateWorkflowChainResponse, Integer, Hash)>] CreateWorkflowChainResponse data, response status code and response headers
    def create_workflow_chain_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.create_workflow_chain ...'
      end
      # resource path
      local_var_path = '/v1/workflow-chains'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateWorkflowChainResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.create_workflow_chain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#create_workflow_chain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enqueue an ad-hoc run of a workflow chain.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateWorkflowChainRunNowResponse]
    def create_workflow_chain_run_now(id, opts = {})
      data, _status_code, _headers = create_workflow_chain_run_now_with_http_info(id, opts)
      data
    end

    # Enqueue an ad-hoc run of a workflow chain.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateWorkflowChainRunNowResponse, Integer, Hash)>] CreateWorkflowChainRunNowResponse data, response status code and response headers
    def create_workflow_chain_run_now_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.create_workflow_chain_run_now ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkflowsApi.create_workflow_chain_run_now"
      end
      # resource path
      local_var_path = '/v1/workflow-chains/{id}/run-now'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateWorkflowChainRunNowResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.create_workflow_chain_run_now",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#create_workflow_chain_run_now\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Flip a workflow chain between active and inactive.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateWorkflowChainToggleResponse]
    def create_workflow_chain_toggle(id, opts = {})
      data, _status_code, _headers = create_workflow_chain_toggle_with_http_info(id, opts)
      data
    end

    # Flip a workflow chain between active and inactive.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateWorkflowChainToggleResponse, Integer, Hash)>] CreateWorkflowChainToggleResponse data, response status code and response headers
    def create_workflow_chain_toggle_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.create_workflow_chain_toggle ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkflowsApi.create_workflow_chain_toggle"
      end
      # resource path
      local_var_path = '/v1/workflow-chains/{id}/toggle'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateWorkflowChainToggleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.create_workflow_chain_toggle",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#create_workflow_chain_toggle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a workflow chain (cascades steps + runs).
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteWorkflowChainResponse]
    def delete_workflow_chain(id, opts = {})
      data, _status_code, _headers = delete_workflow_chain_with_http_info(id, opts)
      data
    end

    # Delete a workflow chain (cascades steps + runs).
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteWorkflowChainResponse, Integer, Hash)>] DeleteWorkflowChainResponse data, response status code and response headers
    def delete_workflow_chain_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.delete_workflow_chain ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkflowsApi.delete_workflow_chain"
      end
      # resource path
      local_var_path = '/v1/workflow-chains/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteWorkflowChainResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.delete_workflow_chain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#delete_workflow_chain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get one workflow chain with its steps.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetWorkflowChainResponse]
    def get_workflow_chain(id, opts = {})
      data, _status_code, _headers = get_workflow_chain_with_http_info(id, opts)
      data
    end

    # Get one workflow chain with its steps.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWorkflowChainResponse, Integer, Hash)>] GetWorkflowChainResponse data, response status code and response headers
    def get_workflow_chain_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.get_workflow_chain ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkflowsApi.get_workflow_chain"
      end
      # resource path
      local_var_path = '/v1/workflow-chains/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWorkflowChainResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.get_workflow_chain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#get_workflow_chain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List workflow chains with their step graph.
    # @param [Hash] opts the optional parameters
    # @return [V1List]
    def list_workflow_chains(opts = {})
      data, _status_code, _headers = list_workflow_chains_with_http_info(opts)
      data
    end

    # List workflow chains with their step graph.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1List, Integer, Hash)>] V1List data, response status code and response headers
    def list_workflow_chains_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.list_workflow_chains ...'
      end
      # resource path
      local_var_path = '/v1/workflow-chains'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1List'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.list_workflow_chains",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#list_workflow_chains\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace a workflow chain wholesale.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateWorkflowChainResponse]
    def update_workflow_chain(id, opts = {})
      data, _status_code, _headers = update_workflow_chain_with_http_info(id, opts)
      data
    end

    # Replace a workflow chain wholesale.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateWorkflowChainResponse, Integer, Hash)>] UpdateWorkflowChainResponse data, response status code and response headers
    def update_workflow_chain_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.update_workflow_chain ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkflowsApi.update_workflow_chain"
      end
      # resource path
      local_var_path = '/v1/workflow-chains/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateWorkflowChainResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PersonalAccessToken']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.update_workflow_chain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#update_workflow_chain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
